interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2&tags=&tags_exclude=
  response:
    body:
      string: '[{"id":89019,"date":"2019-05-06T19:52:30","date_gmt":"2019-05-06T19:52:30","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89019"},"modified":"2019-05-07T10:02:36","modified_gmt":"2019-05-07T10:02:36","slug":"canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/06\/canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2\/","title":{"rendered":"Canonical
        announces support for Ubuntu on Windows Subsystem for Linux 2"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/30ae\/windows-start.png\"
        alt=\"\" class=\"wp-image-76154\"\/><\/figure>\n\n\n\n<p><strong>May 6, 2019:<\/strong>
        Canonical today announces full support for Ubuntu on the Windows Subsystem
        for Linux (WSL) 2.<br><\/p>\n\n\n\n<p>\u201cExtending enterprise support for
        Ubuntu from Azure to Windows workstations and servers creates a seamless operating
        environment for Ubuntu in the Microsoft environment,\u201d said Stephan Fabel,
        Director of Product at Canonical. \u201cCollaboration with Microsoft enables
        us to certify Ubuntu on WSL, including Docker containers, Kubernetes, and
        snaps\u201d.<br><\/p>\n\n\n\n<p><a href=\"https:\/\/devblogs.microsoft.com\/commandline\/ann[...]
