interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=&page=1&group=&tags_exclude=&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":89226,"date":"2019-05-19T13:31:37","date_gmt":"2019-05-19T13:31:37","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89226"},"modified":"2019-05-19T13:33:01","modified_gmt":"2019-05-19T13:33:01","slug":"design-and-web-team-summary-10-may-2019","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/19\/design-and-web-team-summary-10-may-2019\/","title":{"rendered":"Design
        and Web team summary \u2013 10 May 2019"},"content":{"rendered":"\n<p>It was
        another busy iteration for the web and design team, trying to get a lot of
        work wrapped up before we head off to Lyon, France for our 19.10 Roadmap cycle
        kick-off.<\/p>\n\n\n\n<h2>JAAS<\/h2>\n\n\n\n<p>The team rolled out a new version
        of the website with a new url, too: <a href=\"https:\/\/jujucharms.com\">https:\/\/jujucharms.com<\/a>
        now redirects to <a href=\"https:\/\/jaas.ai\/\">https:\/\/jaas.ai\/<\/a>
        as part of a bigger renovation planned for JAAS and Juju. This move also updates
        the technology used for the site and we\u2019ve migrated the Juju GUI as a
        Flaskapp that allows us to update and deploy both the website and GUI within
        minutes. With faster rollout we are now able to iterate and respond to your
        feedback and bug reports much more efficiently, inline with the infrastructure
        we use in our other Web Team sites.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh3.googleusercontent.com\/xvaRZriEtLYYBQfCEBJPn3rNay05jeTtbLCGfrNV-vNETX0t6FyRJOxSwRDutqBnD8gG3X7ydGI3u_JeKADMtGf-UYFCT85YZvp_L99iaSNKHZNcE55c2lY_ty9ALLKGSSzFMtQs\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><\/p>\n\n\n\n<p>JAAS.ai comes with some new
        and better UI, with more patterns and elements from our open source <a href=\"https:\/\/docs.vanillaframework.io\/en\/\">Vanilla
        framework <\/a>. We can\u2019t wait to show you the great things this move
        will let us do going forward.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh5.googleusercontent.com\/wim5ZDTp9GUKC5AIHTwbNLZg0jrwH4sdcQFPFShBPINXn7r6AiEkq29M1gTqounJYx98norHDrwwLAF8FQRi7RnQZJzqQT1H9ct311s9qzRt6tyX591d8jxpl0A3d28OLTH42s3r\"
        alt=\"\"\/><\/figure>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/HLWkMxzzE_poE9qyaC16tmJDyMaYn3CKf3g4UNXxxQ3NaU6cyMr1dN8Q4IdEhVZI-EeL2xIjmC9jyeMsKcVQEjP8nrPBgpIrRTUJJC2MmslnK1N__7Mb9Kd8yE_PjFOvLrtbROzy\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><\/p>\n\n\n\n<h2>Snapcraft<\/h2>\n\n\n\n<h3>Snap
        categories<\/h3>\n\n\n\n<p>This time category pages received the same treatment
        as the <a href=\"https:\/\/snapcraft.io\/store\">store page<\/a>, with fancy
        banners and more prominent featured snaps.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh5.googleusercontent.com\/eag-CpwKKuR25b8mA7gvLgkGsehepkArv3SxrZHauphG5KO2uSZxAN-jBAaCL_7E9cxCtc5CklpqEuZjrX53woAzwUA-8nx38RK1BXb7i_vhSq4vRbZ8h766Yg5HRyukY-yA-cLR\"
        alt=\"\"\/><\/figur[...]
