interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=&page=1&group=&tags_exclude=&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":89329,"date":"2019-05-28T23:15:01","date_gmt":"2019-05-28T23:15:01","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89329"},"modified":"2019-05-28T23:15:02","modified_gmt":"2019-05-28T23:15:02","slug":"ubuntu-server-development-summary-28-may-2019","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/28\/ubuntu-server-development-summary-28-may-2019\/","title":{"rendered":"Ubuntu
        Server development summary &#8211; 28 May 2019"},"content":{"rendered":"<h1
        id=\"hello-ubuntu-server\">Hello Ubuntu Server<\/h1>\n<p>The purpose of this
        communication is to provide a status update and highlights for any interesting
        subjects from the Ubuntu Server Team. If you would like to reach the server
        team, you can find us at the #ubuntu-server channel on Freenode. Alternatively,
        you can sign up and use the Ubuntu Server Team <a href=\"https:\/\/lists.ubuntu.com\/mailman\/listinfo\/ubuntu-server\">mailing
        list<\/a> or visit the <a href=\"https:\/\/discourse.ubuntu.com\/c\/server\">Ubuntu
        Server discourse hub<\/a> for more discussion.<\/p>\n<h2 id=\"spotlight-rafael-david-tinoco\">Spotlight:
        Rafael David Tinoco<\/h2>\n<p>The Ubuntu Server team welcomes another team
        member this week! <a href=\"https:\/\/www.linkedin.com\/in\/rafaeltinoco\/\">Rafael
        David Tinoco<\/a> has worked for the past 20 years in companies such as: Linaro
        (Kernel Validation Engineer and HPC Tech Lead), Canonical (Linux Sustaining
        Engineer and Tech Lead), IBM (s390x Lab Engineer and Tech Lead, Small Residency
        with s390x performance team), Red Hat (Solution Architect), Locaweb (Linux\/Email
        devops), Sun Microsystems (Consultant, HPC Engineer, Systems Engineer and
        Solaris Ambassador). Rafael has carved his career from field engineering positions,
        in constant contact with customers, into pure engineering ones, focused in
        Linux internals, userland, kernel and general OS &amp; performance debugging
        and bug solving. You can find him using a new IRC nick now: rafaeldtinoco.
        A big thanks for &#8220;re-joining&#8221; us Rafael, we are glad to have your
        expertise on the team!<\/p>\n<h2 id=\"cloud-init\">cloud-init<\/h2>\n<ul>\n<li>freebsd:
        fix the name of cloudcfg VARIANT [Gon\u00e9ri Le Bouder]<\/li>\n<li>freebsd:
        ability to grow root file system [Gon\u00e9ri Le Bouder]<\/li>\n<li>freebsd:
        NoCloud data source support [Gon\u00e9ri Le Bouder] (<a href=\"https:\/\/bugs.launchpad.net\/bugs\/1645824\">LP:
        #1645824<\/a>)<\/li>\n<\/ul>\n<h2 id=\"curtin\">curtin<\/h2>\n<ul>\n<li>apt_proxy
        env var set but empty =&gt; do not setup any proxy [Paride Legovini]<\/li>\n<li>release
        19.1 [[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=6&tags=&page=2&group=&tags_exclude=&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":89285,"date":"2019-05-22T02:47:08","date_gmt":"2019-05-22T02:47:08","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89285"},"modified":"2019-05-22T02:51:20","modified_gmt":"2019-05-22T02:51:20","slug":"mirkiosk-qt-ubuntucore","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/22\/mirkiosk-qt-ubuntucore\/","title":{"rendered":"\u5728IoT\u8bbe\u5907\u4e0a\u4f7f\u7528mir-kiosk\u6784\u5efa\u56fe\u5f62\u754c\u9762"},"content":{"rendered":"\n<p>\u5982\u679c\u4f60\u60f3\u8981\u4e00\u4e2a\u5168\u5c4f\u7684\u5e94\u7528\uff0c\u5982\u679c\u4f60\u4f1a\u7528snap\uff0c\u90a3\u4e48\u73b0\u5728\u5c31\u8bd5\u8bd5mir-kiosk\u5427\u3002<br><\/p>\n\n\n\n<p>\u8bb8\u591a\u8bbe\u5907\u5546\u60f3\u4e3a\u7528\u6237\u63d0\u4f9b\u56fe\u50cf\u754c\u9762\u8f93\u51fa\u6216\u8005\u663e\u793a\u670d\u52a1\uff08\u5982\u4f7f\u7528\u952e\u76d8\u3001\u9f20\u6807\u548c\u89e6\u5c4f\uff09\u3002\u4e00\u4e9b\u4f8b\u5b50\u9700\u4f7f\u7528\u4ea4\u4e92\u5f0f\u4fe1\u606f\u9762\u677f\u5982\uff1a\u6570\u5b57\u6807\u724c\uff0c\u8f66\u8f7d\u5a31\u4e50\uff0c\u667a\u80fd\u7535\u8868\u4ee5\u53ca\u4ece\u6d17\u8863\u673a\u5230\u667a\u80fd\u6052\u6e29\u5668\u4ee5\u53ca\u5404\u79cd\u201c\u521b\u5ba2\u201d\u9879\u76ee\u7684\u5404\u79cd\u5c4f\u5e55\u3002<br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/res.cloudinary.com\/canonical\/image\/fetch\/q_auto,f_auto,w_650\/https:\/\/ubuntucommunity.s3-us-east-2.amazonaws.com\/optimized\/2X\/d\/daf13467497f91b31e37ba14cfd7e4037cd85a28_1_690x517.png\"
        alt=\"\"\/><\/figure>\n\n\n\n<p>\u5f88\u591a\u9879\u76ee\u90fd\u53ef\u4f7f\u7528mir-kiosk\uff0c\u4ed6\u4eec\u53ef\u4ee5\u4f7f\u7528\u4e0d\u540c\u786c\u4ef6\u6216\u4e0d\u540c\u7248\u672c\u7684Ubuntu\uff08Core\u6216Classic\uff09\uff0c\u4f46\u5b83\u4eec\u90fd\u5728\u540c\u4e00\u4ef6\u4e8b\u60c5\uff1a\u4e3a\u8bbe\u5907\u6dfb\u52a0\u4e00\u4e2a\u201c\u663e\u793a\u5668\u201d\u3002<br><\/p>\n\n\n\n<p><strong>mir-kiosk\u7684\u4f7f\u7528<\/strong><\/p>\n\n\n\n<p><a
        name=\"tutorial\">mir-kiosk<\/a>\u4e3a\u4efb\u4f55\u56fe\u5f62\u4fe1\u606f\u4ead\u5b9e\u65bd\u63d0\u4f9b\u4e86\u57fa\u7840\uff0c\u5b83\u63d0\u4f9b\u5e26\u6709\u9f20\u6807\u6307\u9488\u7684\u9ed1\u5c4f\uff0c\u8ba9\u4f60\u8fd0\u884c\u4efb\u4f55\u4f60\u60f3\u8981\u7684\u5e94\u7528\u7a0b\u5e8f\uff0c\u7acb\u5373\u5c06\u5176\u8f6c\u6362\u4e3a\u81ea\u52a9\u670d\u52a1\u7ec8\u7aef\u5e94\u7528\u7a0b\u5e8f\u3002\u4f60\u53ef\u4ee5\u8bd5\u8bd5\u4e0b\u65b9\u7684\u6559\u7a0b\u548c\u6f14\u793a\uff0c\u5feb\u901f\u6267\u884c\u6b64\u64cd\u4f5c\uff1a<\/p>\n\n\n\n<ol><li><a
        href=\"https:\/\/developer.ubuntu.com\/core\/examples\/snaps-on-mir\">\u5728Ubuntu
        Core\u4e0a\u8fd0\u884ckiosk<\/a>\uff1a\u4f60\u53ef\u4ee5\u5728kiosk\u4e0a\u8fd0\u884cQt\u7a0b\u5e8f\u3002<\/li><li><a
        href=\"https:\/\/tutorials.ubuntu.com\/tutorial\/secure-ubuntu-kiosk\">\u6784\u5efa\u4e00\u4e2a\u5b89\u5168\u7684Ubuntu
        \u4fe1\u606f\u4ead<\/a>\uff1a\u5728Ubuntu\u4e0a\u90e8\u7f72\u667a\u80fd\u663e\u793a\u5668\u548c\u4fe1\u606f\u4ead\u7684\u5feb\u901f\u6307\u5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=&page=1&group=&tags_exclude=3278&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":89329,"date":"2019-05-28T23:15:01","date_gmt":"2019-05-28T23:15:01","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89329"},"modified":"2019-05-28T23:15:02","modified_gmt":"2019-05-28T23:15:02","slug":"ubuntu-server-development-summary-28-may-2019[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=3278&page=1&group=&tags_exclude=&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":88974,"date":"2019-05-01T18:30:19","date_gmt":"2019-05-01T18:30:19","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=88974"},"modified":"2019-05-02T10:58:06","modified_gmt":"2019-05-02T10:58:06","slug":"ubuntu-at-internet-of-things-world-2019","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/01\/ubuntu-at-internet-of-things-world-2019\/","title":{"rendered":"Ubuntu
        at Internet of Things World 2019"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/feb9\/IoT-World-Series-logo-RGB-3de9d157c9606cdb91129a80189b01d8.png\"
        alt=\"Internet of Things World\" class=\"wp-image-88975\"\/><\/figure>\n\n\n\n<p>Date:
        May 13\/16<br>Location: Santa Clara Convention Center, CA, USA<br>Booth: 1708<br><\/p>\n\n\n\n<p>Four
        years ago Canonical launched Ubuntu Core at Internet of Things World. The
        last four years have seen Ubuntu not only build a name for itself in IoT but
        also impose itself as a leading <a href=\"https:\/\/www.ubuntu.com\/embedded\">Embedded
        Linux<\/a>, as highlighted in the latest <a href=\"https:\/\/blog.ubuntu.com\/2019\/04\/26\/ubuntu-is-1-for-embedded-iot\">Eclipse
        Developer survey<\/a>. <\/p>\n\n\n\n<ul><li>Autonomous vehicles and robots
        <\/li><li>Digital signage, retail analytics and smart screens<\/li><li>Industrial
        and commercial analytics<\/li><li>Networking equipment<\/li><\/ul>\n\n\n\n<p>You
        can also see Ubuntu in action as part of the following demos:<\/p>\n\n\n\n<ul><li>Edge
        analytics on EdgeX Foundry with Dell Edge Gateway<\/li><li>Edge analytics
        using AWS Greengrass and the Rigado gateway<\/li><\/ul>\n\n\n\n<p><a class=\"link-cta-ubuntu\"
        href=\"https:\/\/www.ubuntu.com\/contact-us\/form?product=IOTW-2019\">Let&#8217;s
        meet at IOT World<\/a><\/p>\n","protected":false},"excerpt":{"rendered":"<p>Date:
        May 13\/16Location: Santa Clara Convention Center, CA, USABooth: 1708 Four
        years ago Canonical launched Ubuntu Core at Internet of Things World. The
        last four years have seen Ubuntu not only build a name for itself in IoT but
        also impose itself as a leading Embedded Linux, as highlighted in the latest
        Eclipse Developer survey. [&hellip;]<\/p>\n","protected":false},"author":426,"featured_media":0,"comment_status":"open","ping_status":"closed","sticky":false,"template":"","format":"standard","meta":[],"categories":[1453],"tags":[3278,1419,1665,1626],"topic":[],"group":[],"_event_location":"","_event_venue":"","_event_registration":"","_start_day":"01","_start_month":"05","_start_year":"2019","_end_day":"01","_end_month":"05","_end_year":"2019","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts\/88974"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/types\/post"}],"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/426"}],"replies":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/comments?post=88974"}],"version-history":[{"count":3,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts\/88974\/revisions"}],"predecessor-version":[{"id":88982,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts\/88974\/revisions\/88982"}],"wp:attachment":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?parent=88974"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=88974"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=88974"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=88974"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=88974"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":88501,"date":"2019-04-02T08:22:20","date_gmt":"2019-04-02T08:22:20","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=88501"},"modified":"2019-04-04T08:52:27","modified_gmt":"2019-04-04T08:52:27","slug":"aws-iot-greengrass-released-as-a-snap","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/04\/02\/aws-iot-greengrass-released-as-a-snap\/","title":{"rendered":"AWS
        IoT Greengrass released as a snap"},"content":{"rendered":"\n<div class=\"wp-block-image\"><figure
        class=\"aligncenter\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/4c9d\/product-icon_AWS-Greengrass_lockup_centered_squid_ink.png\"
        alt=\"\" class=\"wp-image-88535\"\/><\/figure><\/div>\n\n\n\n<p>Canonical
        and AWS are excited to announce the public release of AWS IoT Greengrass as
        a <a href=\"https:\/\/snapcraft.io\/aws-iot-greengrass\">snap<\/a>. AWS IoT
        Greengrass is software that brings local com[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=3278,1419&page=1&group=&tags_exclude=&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":88974,"date":"2019-05-01T18:30:19","date_gmt":"2019-05-01T18:30:19","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=88974"},"modified":"2019-05-02T10:58:06","modified_gmt":"2019-05-02T10:58:06","slug":"ubuntu-at-internet-of-things-world-2019"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=3278&page=1&group=&tags_exclude=1419&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":88501,"date":"2019-04-02T08:22:20","date_gmt":"2019-04-02T08:22:20","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=88501"},"modified":"2019-04-04T08:52:27","modified_gmt":"2019-04-04T08:52:27","slug":"aws-iot-greengrass-released-as-a-snap","s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=&page=1&group=&tags_exclude=&categories=1453&exclude=&author=
  response:
    body:
      string: '[{"id":89329,"date":"2019-05-28T23:15:01","date_gmt":"2019-05-28T23:15:01","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89329"},"modified":"2019-05-28T23:15:02","modified_gmt":"2019-05-28T23:15:02","slug":"ubuntu-server-development-summary-28-may-2019[...]
