interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265&sticky=true&_embed
  response:
    body:
      string: '[{"id":89621,"date":"2019-06-13T07:00:48","date_gmt":"2019-06-13T07:00:48","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89621"},"modified":"2019-06-12T19:47:02","modified_gmt":"2019-06-12T19:47:02","slug":"customisable-for-the-enterprise-the-next-generation-of-drones","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/06\/13\/customisable-for-the-enterprise-the-next-generation-of-drones\/","title":{"rendered":"Customisable
        for the enterprise: the next-generation of drones"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/ca03\/Manifold-2-G-on-M210-V2.jpg\"
        alt=\"\" class=\"wp-image-89622\"\/><\/figure>\n\n\n\n<p>Drones, and their
        wide-ranging uses, have been a constant topic of conversation for some years
        now, but we\u2019re only just beginning to move away from the hypothetical
        and into reality. The <a href=\"https:\/\/www.faa.gov\/data_research\/aviation\/aerospace_forecasts\/media\/Unmanned_Aircraft_Systems.pdf\">FAA
        estimates<\/a> that there will be 2 million drones in the United States alone
        in 2019, as adoption within the likes of distribution, construction, healthcare
        and other industries accelerates. <br><\/p>\n\n\n\n<p>Driven by this demand,
        Ubuntu &#8211; <a href=\"https:\/\/blog.ubuntu.com\/2019\/04\/26\/ubuntu-is-1-for-embedded-iot\">the
        most popular Linux operating system for the Internet of Things (IoT)<\/a>
        &#8211; is now available on the Manifold 2, a high-performance embedded computer
        offered by leading drone manufacturer, DJI. The Manifold 2 is designed to
        fit seamlessly onto DJI\u2019s drone platforms via the onboard SDK and enables
        deve[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed
  response:
    body:
      string: '[{"id":1175,"count":131,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed
  response:
    body:
      string: '[{"id":1187,"count":114,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265&categories=1175%2C1187&_embed
  response:
    body:
      string: '[{"id":87600,"date":"2019-02-11T09:54:21","date_gmt":"2019-02-11T09:54:21","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=87600"},"modified":"2019-02-11T09:54:22","modified_gmt":"2019-02-11T09:54:22","slug":"understanding-containerised-workloads-for-telco","s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&tags_exclude=3184%2C3265&exclude=89621%2C89019%2C88870&_embed
  response:
    body:
      string: '[{"id":89592,"date":"2019-06-13T08:52:53","date_gmt":"2019-06-13T08:52:53","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89592"},"modified":"2019-06-13T10:12:40","modified_gmt":"2019-06-13T10:12:40","slug":"new-release-vanilla-framework-2-0","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/06\/13\/new-release-vanilla-framework-2-0\/","title":{"rendered":"New
        release: Vanilla framework 2.0"},"content":{"rendered":"\n<p class=\"has-medium-font-size\">Over
        the past year, we\u2019ve been working hard to bring you the next release
        of Vanilla framework: <a href=\"https:\/\/github.com\/canonical-web-and-design\/vanilla-framework\/releases\/tag\/v2.0.1\">version
        2.0<\/a>, our most stable release to date.<\/p>\n\n\n\n<p>Since our last significant
        release, <a href=\"https:\/\/github.com\/canonical-web-and-design\/vanilla-framework\/releases\/tag\/v1.8.0\">v1.8.0<\/a>
        back in July last year, we\u2019ve been working hard to bring you new features,
        improve the framework and make it the most stable version we\u2019ve released.<\/p>\n\n\n\n<p>You
        can see the full list of new and updated changes in the framework in the <a
        href=\"https:\/\/github.com\/canonical-web-and-design\/vanilla-framework\/releases\/tag\/v2.0.1\">full
        release notes<\/a> .<\/p>\n\n\n\n<h2>New to the Framework<\/h2>\n\n\n\n<h3>Features<\/h3>\n\n\n\n<p>The
        release has too many changes to list them all here but we&#8217;ve outlined
        a list of the high-level changes below.<br><\/p>\n\n\n\n<p>The first major
        change was removing the Shelves grid, which has been in the framework since
        the beginning, and reimplementing the functionality with <a href=\"https:\/\/docs.vanillaframework.io\/en\/patterns\/grid\">CSS
        grid<\/a>. A Native CSS solution has given us more flexibility with layouts.[...]
