interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265&sticky=true&_embed=true
  response:
    body:
      string: '[{"id":90788,"date":"2019-07-24T07:58:26","date_gmt":"2019-07-24T07:58:26","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=90788"},"modified":"2019-07-25T14:55:52","modified_gmt":"2019-07-25T14:55:52","slug":"bt-turns-to-canonical-ubuntu-to-enable-next-generation-5g-cloud-core","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/07\/24\/bt-turns-to-canonical-ubuntu-to-enable-next-generation-5g-cloud-core\/","title":{"rendered":"BT
        turns to Canonical Ubuntu to enable next generation 5G Cloud Core"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/6a0c\/Title-Cards-14.png\"
        alt=\"\" class=\"wp-image-90789\"\/><\/figure>\n\n\n\n<p>Today, Canonical
        announces its Charmed OpenStack on Ubuntu has been selected by<a href=\"https:\/\/www.bt.com\/\">
        BT<\/a> as a key component of its next generation 5G Core. Canonical, the
        company behind <a href=\"https:\/\/www.ubuntu.com?utm_source=blog&amp;utm_campaign=7013z000000ewsr\">Ubuntu<\/a>,
        will prov[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body:
      string: '[{"id":1175,"count":128,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body:
      string: '[{"id":1187,"count":107,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265&categories=1175%2C1187&_embed=true
  response:
    body:
      string: '[{"id":87600,"date":"2019-02-11T09:54:21","date_gmt":"2019-02-11T09:54:21","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=87600"},"modified":"2019-07-12T07:51:04","modified_gmt":"2019-07-12T07:51:04","slug":"understanding-containerised-workloads-for-telc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&tags_exclude=3184%2C3265&exclude=90788%2C90095%2C89869&_embed=true
  response:
    body:
      string: '[{"id":90932,"date":"2019-07-31T08:00:54","date_gmt":"2019-07-31T08:00:54","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=90932"},"modified":"2019-07-30T21:39:14","modified_gmt":"2019-07-30T21:39:14","slug":"digital-signage-platform-xibo-launches-as-a-snap","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/07\/31\/digital-signage-platform-xibo-launches-as-a-snap\/","title":{"rendered":"Digital
        signage platform Xibo launches as a snap"},"content":{"rendered":"\n<iframe
        width=\"560\" height=\"315\" src=\"https:\/\/www.youtube.com\/embed\/gncIbFlEBZI\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture\" allowfullscreen=\"\"><\/iframe>\n\n\n\n<p>The<strong>
        <\/strong>open source digital signage platform, Xibo, is now available as
        a <a href=\"https:\/\/snapcraft.io\/xibo-player\">snap <\/a>&#8211; the universal
        Linux app packaging format.<br><\/p>\n\n\n\n<p><a href=\"https:\/\/xibo.org.uk\/\">Xibo<\/a>
        provides a comprehensive suite of digital signage products, with its Content
        Management System (CMS) at the heart of this experience-led offering. Xibo
        for Linux is completely free and natively built for the Xibo CMS, which can
        be installed on servers or combined with Xibo cloud hosting.<br><\/p>\n\n\n\n<p>Snaps
        are containerised software packages designed to work across cloud, desktop,
        [...]
