interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=&page=1&group=&tags_exclude=&categories=&exclude=&author=
  response:
    body:
      string: '[{"id":89329,"date":"2019-05-28T23:15:01","date_gmt":"2019-05-28T23:15:01","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89329"},"modified":"2019-05-28T23:15:02","modified_gmt":"2019-05-28T23:15:02","slug":"ubuntu-server-development-summary-28-may-2019","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/28\/ubuntu-server-development-summary-28-may-2019\/","title":{"rendered":"Ubuntu
        Server development summary &#8211; 28 May 2019"},"content":{"rendered":"<h1
        id=\"hello-ubuntu-server\">Hello Ubuntu Server<\/h1>\n<p>The purpose of this
        communication is to provide a status update and highlights for any interesting
        subjects from the Ubuntu Server Team. If you would like to reach the server
        team, you can find us at the #ubuntu-server channel on Freenode. Alternatively,
        you can sign up and use the Ubuntu Server Team <a href=\"https:\/\/lists.ubuntu.com\/mailman\/listinfo\/ubuntu-server\">mailing
        list<\/a> or visit the <a href=\"https:\/\/discourse.ubuntu.com\/c\/server\">Ubuntu
        Server discourse hub<\/a> for more discussion.<\/p>\n<h2 id=\"spotlight-rafael-david-tinoco\">Spotlight:
        Rafael David Tinoco<\/h2>\n<p>The Ubuntu Server team welcomes another team
        member this week! <a href=\"https:\/\/www.linkedin.com\/in\/rafaeltinoco\/\">Rafael
        David Tinoco<\/a> has worked for the past 20 years in companies such as: Linaro
        (Kernel Validation Engineer and HPC Tech Lead), Canonical (Linux Sustaining
        Engineer and Tech Lead), IBM (s390x Lab Engineer and Tech Lead, Small Residency
        with s390x performance team), Red Hat (Solution Architect), Locaweb (Linux\/Email
        devops), Sun Microsystems (Consultant, HPC Engineer, Systems Engineer and
        Solaris Ambassador). Rafael has carved his career from field engineering positions,
        in constant contact with customers, into pure engineering ones, focused in
        Linux internals, userland, kernel and general OS &amp; performance debugging
        and bug solving. You can find him using a new IRC nick now: rafaeldtinoco.
        A big thanks for &#8220;re-joining&#8221; us Rafael, we are glad to have your
        expertise on the team!<\/p>\n<h2 id=\"cloud-init\">cloud-init<\/h2>\n<ul>\n<li>freebsd:
        fix the name of cloudcfg VARIANT [Gon\u00e9ri Le Bouder]<\/li>\n<li>freebsd:
        ability to grow root file system [Gon\u00e9ri Le Bouder]<\/li>\n<li>freebsd:
        NoCloud data source support [Gon\u00e9ri Le Bouder] (<a href=\"https:\/\/bugs.launchpad.net\/bugs\/1645824\">LP:
        #1645824<\/a>)<\/li>\n<\/ul>\n<h2 id=\"curtin\">curtin<\/h2>\n<ul>\n<li>apt_proxy
        env var set but empty =&gt; do not setup any proxy [Paride Legovini]<\/li>\n<li>release
        19.1 [[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&tags=&page=1&group=&tags_exclude=&categories=&exclude=&author=&sticky=True
  response:
    body:
      string: '[{"id":89019,"date":"2019-05-06T19:52:30","date_gmt":"2019-05-06T19:52:30","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89019"},"modified":"2019-05-07T10:02:36","modified_gmt":"2019-05-07T10:02:36","slug":"canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/06\/canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2\/","title":{"rendered":"Canonical
        announces support for Ubuntu on Windows Subsystem for Linux 2"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/30ae\/windows-start.png\"
        alt=\"\" class=\"wp-image-76154\"\/><\/figure>\n\n\n\n<p><strong>May 6, 2019:<\/strong>
        Canonical today announces full support for Ubuntu on the Windows Subsystem
        for Linux (WSL) 2.<br><\/p>\n\n\n\n<p>\u201cExtending enterprise support for
        Ubuntu from Azure to Windows workstations and servers creates a seamless operating
        environment for Ubuntu in the Microsoft environment,\u201d said Stephan Fabel,
        Director of Product at Canonical. \u201cCollaboration with Microsoft enables
        us to certify Ubuntu on WSL, including Docker containers, Kubernetes, and
        snaps\u201d.<br><\/p>\n\n\n\n<p><a href=\"https:\/\/devblogs.microsoft.com\/commandline\/ann[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/media/89330
  response:
    body:
      string: '{"id":89330,"date":"2019-05-28T23:14:32","date_gmt":"2019-05-28T23:14:32","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/status-may28.png"},"modified":"2019-05-28T23:14:32","modified_gmt":"2019-05-28T23:14:32","slug":"status-may28","status":"inherit","type":"attachment","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/28\/ubuntu-server-development-summary-28-may-2019\/status-may28\/","title":{"rendered":"status-may28"},"author":582,"comment_status":"open","ping_status":"closed","template":"","meta":[],"topic":[],"group":[],"description":{"rendered":"<p
        class=\"attachment\"><a href=''https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/ac0a\/status-may28.png''><img
        width=\"300\" height=\"169\" src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/ac0a\/status-may28.png\"
        class=\"attachment-medium size-medium\" alt=\"\" \/><\/a><\/p>\n"},"caption":{"rendered":""},"alt_text":"","media_type":"image","mime_type":"image\/png","media_details":{"width":960,"height":540,"file":"status-may28.png","image_meta":{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0","keywords":[]},"sizes":{}},"post":89329,"source_url":"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/ac0a\/status-may28.png","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/89330"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/types\/attachment"}],"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/582"}],"replies":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/comments?post=89330"}],"wp:term":[{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=89330"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=89330"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/2019/05/28/ubuntu-server-development-summary-28-may-2019/status-may28/>;
        rel="alternate"; type=text/html
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/users/582
  response:
    body:
      string: '{"id":582,"name":"Chad Smith","url":"https:\/\/login.ubuntu.com\/+id\/RAsJCNm","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/chad-smith\/","slug":"chad-smith","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/dd1d57f6f1ea59ea0c12260f5e3b5767?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/dd1d57f6f1ea59ea0c12260f5e3b5767?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/dd1d57f6f1ea59ea0c12260f5e3b5767?s=96&d=mm&r=g"},"meta":[],"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/582"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories/1175
  response:
    body:
      string: '{"id":1175,"count":132,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/users/401
  response:
    body:
      string: '{"id":401,"name":"Guest","url":"","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/guest\/","slug":"guest","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/16cf8d75dbf7f105c967e5040468efb0?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/16cf8d75dbf7f105c967e5040468efb0?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/16cf8d75dbf7f105c967e5040468efb0?s=96&d=mm&r=g"},"meta":[],"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/401"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
version: 1
