interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2
  response:
    body:
      string: '[{"id":89019,"date":"2019-05-06T19:52:30","date_gmt":"2019-05-06T19:52:30","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89019"},"modified":"2019-05-07T10:02:36","modified_gmt":"2019-05-07T10:02:36","slug":"canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/06\/canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2\/","title":{"rendered":"Canonical
        announces support for Ubuntu on Windows Subsystem for Linux 2"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/30ae\/windows-start.png\"
        alt=\"\" class=\"wp-image-76154\"\/><\/figure>\n\n\n\n<p><strong>May 6, 2019:<\/strong>
        Canonical today announces full support for Ubuntu on the Windows Subsystem
        for Linux (WSL) 2.<br><\/p>\n\n\n\n<p>\u201cExtending enterprise support for
        Ubuntu from Azure to Windows workstations and servers creates a seamless operating
        environment for Ubuntu in the Microsoft environment,\u201d said Stephan Fabel,
        Director of Product at Canonical. \u201cCollaboration with Microsoft enables
        us to certify Ubuntu on WSL, including Docker containers, Kubernetes, and
        snaps\u201d.<br><\/p>\n\n\n\n<p><a href=\"https:\/\/devblogs.microsoft.com\/commandline\/ann[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/media/76153
  response:
    body:
      string: '{"id":76153,"date":"2017-07-11T08:17:17","date_gmt":"2017-07-11T08:17:17","guid":{"rendered":"https:\/\/insights.ubuntu.com\/wp-content\/uploads\/windows-store.png"},"modified":"2017-07-11T08:17:17","modified_gmt":"2017-07-11T08:17:17","slug":"windows-store","status":"inherit","type":"attachment","link":"https:\/\/admin.insights.ubuntu.com\/2017\/07\/11\/windows-10-loves-ubuntu-loveislove\/windows-store\/","title":{"rendered":"windows
        store"},"author":511,"comment_status":"open","ping_status":"closed","template":"","meta":[],"topic":[],"group":[],"description":{"rendered":"<p
        class=\"attachment\"><a href=''https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/fdde\/windows-store.png''><img
        width=\"254\" height=\"300\" src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/fdde\/windows-store.png\"
        class=\"attachment-medium size-medium\" alt=\"\" \/><\/a><\/p>\n"},"caption":{"rendered":""},"alt_text":"","media_type":"image","mime_type":"image\/png","media_details":{"width":682,"height":804,"file":"windows-store.png","image_meta":{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0","keywords":[]},"sizes":{}},"post":76151,"source_url":"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/fdde\/windows-store.png","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/76153"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/types\/attachment"}],"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/511"}],"replies":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/comments?post=76153"}],"wp:term":[{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=76153"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=76153"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/2017/07/11/windows-10-loves-ubuntu-loveislove/windows-store/>;
        rel="alternate"; type=text/html
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/users/217
  response:
    body:
      string: '{"id":217,"name":"Canonical","url":"","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/","slug":"canonical","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=96&d=mm&r=g"},"meta":[],"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/217"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories/1453
  response:
    body:
      string: '{"id":1453,"count":1294,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/articles\/","name":"Articles","slug":"articles","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1453"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1453"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1453"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group/1706
  response:
    body:
      string: '{"id":1706,"count":10740,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/cloud-and-server\/","name":"Cloud
        and server","slug":"cloud-and-server","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/1706"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=1706"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=1706"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=1706"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
version: 1
