interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2&_embed=true
  response:
    body:
      string: '[{"id":89019,"date":"2019-05-06T19:52:30","date_gmt":"2019-05-06T19:52:30","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=89019"},"modified":"2019-07-11T15:08:43","modified_gmt":"2019-07-11T15:08:43","slug":"canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/05\/06\/canonical-announces-support-for-ubuntu-on-windows-subsystem-for-linux-2\/","title":{"rendered":"Canonical
        announces support for Ubuntu on Windows Subsystem for Linux 2"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/30ae\/windows-start.png\"
        alt=\"\" class=\"wp-image-76154\"\/><\/figure>\n\n\n\n<p><strong>May 6, 2019:<\/strong>
        Canonical today announces full support for Ubuntu on the Windows Subsystem
        for Linux (WSL) 2.<br><\/p>\n\n\n\n<p>\u201cExtending enterprise support for
        Ubuntu from Azure to Windows workstations and servers creates a seamless operating
        environment for Ubuntu in the Microsoft environment,\u201d said Stephan Fabel,
        Director of Product at Canonical. \u201cCollaboration with Microsoft enables
        us to certify Ubuntu on WSL, including Docker containers, Kubernetes, and
        snaps\u201d.<br><\/p>\n\n\n\n<p><a href=\"https:\/\/devblogs.microsoft.com\/commandline\/ann[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1748%2C1539%2C1920%2C2159%2C1309%2C1564%2C1400%2C3328&per_page=3&page=1&exclude=89019&_embed=true
  response:
    body:
      string: '[{"id":91034,"date":"2019-07-30T17:24:34","date_gmt":"2019-07-30T17:24:34","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=91034"},"modified":"2019-07-31T15:06:18","modified_gmt":"2019-07-31T15:06:18","slug":"a-shift-to-the-linux-app-store-experience","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/07\/30\/a-shift-to-the-linux-app-store-experience\/","title":{"rendered":"A
        shift to the Linux app store experience"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/131a\/Title-Cards-20.png\"
        alt=\"A shift to the Linux app store experience\" class=\"wp-image-91036\"\/><\/figure>\n\n\n\n<p>Linux
        software developers historically have faced a number of challenges including
        fragmentation, distribution complexity and a lack of metrics into the success
        of their applications. Once an application is built, the journey does not
        end there &#8211; for companies and individual developers creating apps, thought
        needs to be given to promoting their software for maximum visibility, usage
        and customer experience.<\/p>\n\n\n\n<blockquote class=\"wp-block-quote\"><p>Applications
        within the \u2018Featured\u2019 section of Linux app stores can see up to
        40% install growth within two weeks of being featured.<\/p><\/blockquote>\n\n\n\n<p>Self-contained
        application formats like AppImage, Flatpak and snaps and the shift to an application
        store model offer a viable, data-driven alternative to the classic methods.
        This new approach can help overcome some of the historical challenges while
        improving visibility to enterprises and end users.<\/p>\n\n\n\n<p>This whitepaper
        will take a closer look at how software developers targeting the desktop market,
        in particular, can benefit from moving their applications to a Linux app store
        including:<\/p>\n\n\n\n<ul><li>An evaluation of the packaging formats, distributions
        and considerations that software developers should review.<\/li><li>The adoption
        of application stores: how software developers can maximise their presence
        and apply lessons from other industries.<\/li><li>A series of case studies
        highlighting successful apps that have an optimised store presence including
        Spotify, Visual Studio Code and Skype.<\/li><\/ul>\n\n\n\n<p>To view the whitepaper,
        fill out the following form: <\/p>\n\n\n\n<script src=\"\/\/app-sjg.marketo.com\/js\/forms2\/js\/forms2.min.js\"><\/script>\n<form
        id=\"mktoForm_3411\"><\/form>\n<script>MktoForms2.loadForm(\"\/\/app-sjg.marketo.com\",
        \"066-EOV-335\", 3411);<\/script>\n","protected":false},"excerpt":{"rendered":"<p>Linux
        software developers historically have faced a number of challenges including
        fragmentation, distribution complexity and a lack of metrics into the success
        of their applications. Once an application is built, the journey does not
        end there &#8211; for companies and individual developers creating apps, thought
        needs to be given to promoting their software for maximum [&hellip;]<\/p>\n","protected":false},"author":601,"featured_media":91036,"comment_status":"open","ping_status":"closed","sticky":false,"template":"","format":"standard","meta":[],"categories":[],"tags":[2551,1665,1708,2996,1564],"topic":[1924],"group":[1666],"_event_location":"","_event_venue":"","_event_registration":"","_start_day":"30","_start_month":"07","_start_year":"2019","_end_day":"30","_end_month":"07","_end_year":"2019","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts\/91034"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/types\/post"}],"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/601"}],"replies":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/comments?post=91034"}],"version-history":[{"count":2,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts\/91034\/revisions"}],"predecessor-version":[{"id":91037,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts\/91034\/revisions\/91037"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/91036"}],"wp:attachment":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?parent=91034"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=91034"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=91034"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=91034"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=91034"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]},"_embedded":{"author":[{"id":601,"name":"Alex
        Cattle","url":"https:\/\/login.ubuntu.com\/+id\/P4XhdC7","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/cattleaej\/","slug":"cattleaej","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/58036fb893d5f5155cd22ea4dc825658?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/58036fb893d5f5155cd22ea4dc825658?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/58036fb893d5f5155cd22ea4dc825658?s=96&d=mm&r=g"},"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/601"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}],"wp:featuredmedia":[{"id":91036,"date":"2019-07-30T17:16:50","slug":"title-cards-20","type":"attachment","link":"https:\/\/admin.insights.ubuntu.com\/2019\/07\/30\/a-shift-to-the-linux-app-store-experience\/title-cards-20\/","title":{"rendered":"Title
        Cards (20)"},"author":601,"caption":{"rendered":""},"alt_text":"Shift to Linux
        app store experience","media_type":"image","mime_type":"image\/png","media_details":{"width":960,"height":540,"file":"Title-Cards-20.png","image_meta":{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0","keywords":[]},"sizes":{}},"source_url":"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/131a\/Title-Cards-20.png","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/91036"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/types\/attachment"}],"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/601"}],"replies":[{"embeddable":true,"hre[...]
