interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?slug=kubernetes&_embed=true
  response:
    body:
      string: '[{"id":1833,"count":124,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/kubernetes\/","name":"kubernetes","slug":"kubernetes","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/1833"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=1833"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=1833"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1833&per_page=12&page=1&_embed=true
  response:
    body:
      string: '[{"id":91005,"date":"2019-07-29T20:41:09","date_gmt":"2019-07-29T20:41:09","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=91005"},"modified":"2019-07-30T15:31:15","modified_gmt":"2019-07-30T15:31:15","slug":"monitoring-at-the-edge-with-microk8s","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2019\/07\/29\/monitoring-at-the-edge-with-microk8s\/","title":{"rendered":"Remote
        monitoring at the edge with MicroK8s"},"content":{"rendered":"\n<p>One of
        the benefits of the internet of things is the feedback loop created between
        operators and connected devices. Instrumented devices communicate sensor data
        to operators, who monitor the data, take actions and elicit further control
        decisions. To leverage the benefit of such feedback loops, it is therefore
        necessary to have monitoring tools in the stack. <br><\/p>\n\n\n\n<p>This
        blog demonstrates how to easily deploy monitoring tools at the edge using
        Kubernetes. In IoT scenarios, such a deployment is most efficient when carried
        out at the edge, bringing the benefits of privacy, latency and minimal bandwidth
        cost. <br><\/p>\n\n\n\n<p>Luckily, MicroK8s the single node Kubernetes, caters
        for such use cases. The beauty of MicroK8s is that deployment can be done
        in a couple of commands and in under a minute. MicroK8s<a href=\"https:\/\/ubuntu.com\/blog\/single-node-kubernetes-on-raspberry-pi-microk8s-ubuntu\">
        can even fit on a Raspberry Pi<\/a>. In a nutshell, it is possible to build
        a monitoring stack on MicroK8s, deployable anywhere, even at the extreme edge.
        From a technical perspective, this simple solution is enabled by following
        popular open source components, delivered with MicroK8s:&nbsp;&nbsp;<br><\/p>\n\n\n\n<ul><li>Grafana
        for the front-end analytics dashboard<\/li><li>Prometheus for the back-end
        time-series database (ideal for sensor data)<\/li><\/ul>\n\n\n\n<p>To get
        up and running, follow these steps:<br><\/p>\n\n\n\n<h4><strong>Installing
        MicroK8s, Grafana and Prometheus<\/strong><br><\/h4>\n\n\n\n<p>First, install
        the MicroK8s snap<br><\/p>\n\n\n\n<pre class=\"wp-block-preformatted\">sudo
        snap install microk8s --classic<br><\/pre>\n\n\n\n<p>Once installed, it is
        possible to list all the add-ons that are delivered with MicroK8s.<br><\/p>\n\n\n\n<pre
        class=\"wp-block-preformatted\">microk8s.status<br><\/pre>\n\n\n\n<p>(alternatively)<br><\/p>\n\n\n\n<pre
        class=\"wp-block-preformatted\">&nbsp;microk8s.enable --help<br><\/pre>\n\n\n\n<p>None
        of the MicroK8s add-ons are enabled by default. Therefore Grafana and Prometheus
        will need to be enabled upon installation. Here is how to launch these applications:<br><\/p>\n\n\n\n<pre
        class=\"wp-block-preformatted\">microk8s.enable dashboard prometheus<br><\/pre>\n\n\n\n<p>There
        is no specific command to enable Grafana. It is launched automatically when
        the Kubernetes dashboard is enabled.<br><\/p>\n\n\n\n<h3><strong>Accessing
        the Kubernetes dashboard<\/strong><br><\/h3>\n\n\n\n<p>For the next steps,
        the kubectl command will be invoked. It is possible to alias this command
        because it is namespaced in Microk8s. This step is simple to reverse if it
        loses convenience.<br><\/p>\n\n\n\n<pre class=\"wp-block-preformatted\">sudo
        snap alias microk8s.kubectl kubectl<br><\/pre>\n\n\n\n<p>The access token
        for the Kubernetes dashboard can then be retrieved by invok[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?slug=kubernetes&_embed=true
  response:
    body:
      string: '[{"id":1833,"count":124,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/kubernetes\/","name":"kubernetes","slug":"kubernetes","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/1833"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=1833"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=1833"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
