interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?slug=snappy&_embed
  response:
    body:
      string: '[{"id":2080,"count":15,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/snappy\/","name":"snappy","slug":"snappy","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/2080"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=2080"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=2080"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=2080&per_page=12&page=1&_embed
  response:
    body:
      string: '[{"id":82808,"date":"2018-01-26T16:31:51","date_gmt":"2018-01-26T16:31:51","guid":{"rendered":"https:\/\/insights.ubuntu.com\/?p=82808"},"modified":"2018-07-06T08:17:59","modified_gmt":"2018-07-06T08:17:59","slug":"a-peek-at-the-snapcraft-summit","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2018\/01\/26\/a-peek-at-the-snapcraft-summit\/","title":{"rendered":"A
        peek at the Snapcraft Summit"},"content":{"rendered":"<p><img class=\"alignleft
        size-full wp-image-82809\" src=\"https:\/\/insights.ubuntu.com\/wp-content\/uploads\/8fac\/DKvYrfrXUAAm-bO.jpg\"
        alt=\"\" width=\"2048\" height=\"1536\" \/><\/p>\n<p>The Snapcraft Summit,
        taking place in Seattle from January 29th to February 2nd, is a forward-thinking
        five day software hackathon being attended by major software vendors and snap
        developers working to move the industry forward with software delivery.<\/p>\n<p>In
        the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?slug=snappy&_embed
  response:
    body:
      string: '[{"id":2080,"count":15,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/snappy\/","name":"snappy","slug":"snappy","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/2080"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=2080"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=2080"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
