interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/users?slug=nottrobin&_embed=
  response:
    body: {string: '[{"id":297,"name":"Robin Winslow","url":"https:\/\/login.ubuntu.com\/+id\/yEpy4tK","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/","slug":"nottrobin","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=96&d=mm&r=g"},"meta":[],"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/297"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}]'}
    headers:
      Allow: [GET]
      Content-Type: [application/json; charset=UTF-8]
      Link: ['<https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"']
      X-WP-Total: ['1']
      X-WP-TotalPages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&author=297&_embed=
  response:
    body: {string: '[{"id":93596,"date":"2020-01-17T15:57:28","date_gmt":"2020-01-17T15:57:28","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=93596"},"modified":"2020-01-21T11:40:06","modified_gmt":"2020-01-21T11:40:06","slug":"design-and-web-team-summary-17-january-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/01\/17\/design-and-web-team-summary-17-january-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 17 January 2020"},"content":{"rendered":"\n<p>The
        second iteration of this year is the last one before our mid-cycle sprint
        next week.<br><\/p>\n\n\n\n<p>Here\u2019s a short summary of the work the
        squads in the Web &amp; Design team completed in the last 2-week iteration.<\/p>\n\n\n\n<h2>Web,
        Ubuntu and Brand squad<\/h2>\n\n\n\n<p>Web is the squad that develop and maintain
        most of the brochure <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">websites
        across Canonical<\/a> and is the team that underpins our toolsets and architure
        of our projects. They maintain the CI and deployment of all websites we maintain.
        The Brand Squad are tasked with updating and managing the overall style of
        Canonical, Ubuntu and the many fantastic products we create both on and off-line.<\/p>\n\n\n\n<h3>New
        canonical.com website<\/h3>\n\n\n\n<p>Yesterday we released the new <a href=\"https:\/\/canonical.com\">canonical.com<\/a>
        website, which has been a few months in the making. The site is more succinct,
        consolidating the content into a single page, with clear, standout statements:<br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/CUnTZCLKVuwVKIFfjxkTlz0QcFOdtqEcwfEibjdXkXm8u3Gmw3u7Qdub-QNaV1_jaHGWaB-snNQhu5qW4wX0D8scKK21ovtROWAMYph2IPAxm28-yGmObCIFlejo0ee-WHgI7zGW\"
        alt=\"\"\/><\/figure>\n\n\n\n<p>The largest piece of work was the new <a href=\"https:\/\/canonical.com\/careers\/start\">careers
        section<\/a>, which provides a more interactive experience for discovering
        careers at Canonical:<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh3.googleusercontent.com\/BXcpsP34ryv1U4TxbWzT2N6juvkyB_xa4o6Ynyez8yHjFNAULypLsdtFCIMfFMp3LnzqoH3mvErxVc_4lMJASvmt1mJGk3WBXxZyZrNqV41dXxxYIdcuKm0QRmbT4FMH0JHvHvVX\"
        alt=\"\"\/><\/figure>\n\n\n\n<h3>Redesign of \/download\/server\/thank-you<\/h3>\n\n\n\n<p>We\u2019ve
        updated <a href=\"https:\/\/ubuntu.com\/download\/server\/thank-you?country=GB&amp;version=18.04.3&amp;architecture=amd64\">the
        thank-you page for downloa[...]
