interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=testing-your-user-contract&_embed=true
  response:
    body: {string: '[{"id":93920,"date":"2020-02-10T22:48:14","date_gmt":"2020-02-10T22:48:14","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=93920"},"modified":"2020-02-10T23:32:02","modified_gmt":"2020-02-10T23:32:02","slug":"testing-your-user-contract","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/02\/10\/testing-your-user-contract\/","title":{"rendered":"Testing
        your user contract"},"content":{"rendered":"\n<p>Whenever you write any code
        that is to be consumed by another, \nwhether it be a library or some UI element,
        that consumer expects it to \nwork in a certain way every time they interact
        with it. All good \ndevelopers would agree and that\u2019s why we also write
        tests that either \nbreak our code up into chunks and test that each chunk
        works as \nexpected, unit tests, or test the entire lifecycle, end to end
        tests.<\/p>\n\n\n\n<p>Anyone who has written unit tests for long enough knows
        that they are\n tedious to keep in sync with refactors and often end up taking
        a \ndisproportionate amount of time compared to the time it took to write
        \nthe functional code. I propose that that we focus less on unit tests and\n
        replace them with what I\u2019m calling the <strong>user contract<\/strong>
        of your code.<\/p>\n\n\n\n<h4 id=\"what-is-a-user-contract\">What is a user
        contract?<\/h4>\n\n\n\n<p>The consumer expects that when they perform action
        X, they receive \noutcome Y. Typically they are not concerned about how X
        became Y just \nthat it does so reliably. This is what I\u2019m calling the
        <strong>user contract<\/strong>.\n If we as the authors of the code take the
        same view from a testing \nperspective, it allows us to write simpler tests
        and gives us the \nability to refactor how a library or UI component works
        without having \nto update our tests, dramatically speeding up refactoring.<\/p>\n\n\n\n<p>While
        these examples are written in JavaScript the same techniques apply to all
        languages.<\/p>\n\n\n\n<h4 id=\"library-example\">Library example<\/h4>\n\n\n\n<p>Starting
        with a simple library that another developer may be using\u2026<\/p>\n\n\n\n<pre
        class=\"wp-block-code\"><code>export async function fetchUserList() {\n  const
        userList = await _queryDBForUserList();\n  return await _formatUserList(userList);\n}\n\nfunction
        _queryDBForUserList() {\n  \/\/ Fetch content from the database.\n}\n\nfunction
        _formatuserList() {\n  \/\/ Reformat the data as returned from the database.\n}<\/code><\/pre>\n\n\n\n<p>A
        consumer of this API would have a couple expectations:<\/p>\n\n\n\n<ul><li>That
        function is asynchronous.<\/li><li>It returns a user list in a specific structure.<\/li><\/ul>\n\n\n\n<p>These
        expectations then outline what your tests are:<\/p>\n\n\n\n<pre class=\"wp-block-code\"><code>describe(''fetchUserList'',
        () => {\n  it(''does not block'');\n  it(''returns in the correct format'');\n});<\/code><\/pre>\n\n\n\n<p>You
        should note that we don\u2019t test any method that wasn\u2019t exported,
        nor do we export methods simply for testing purposes.<\/p>\n\n\n\n<p>To aid
        the user in understanding what this contract is you can \noutline it in the
        docblock for the exported function. This way it can be\n used to [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1239%2C2598%2C2929&per_page=3&page=1&exclude=93920&_embed=true
  response:
    body: {string: '[{"id":96269,"date":"2020-06-09T09:26:02","date_gmt":"2020-06-09T09:26:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96269"},"modified":"2020-06-09T13:47:07","modified_gmt":"2020-06-09T13:47:07","slug":"design-and-web-team-summary-9th-june-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/09\/design-and-web-team-summary-9th-june-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 9th June 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<p>&#x1f44b;
        My name is Sam, and I am a project manager on the web team.<br><\/p>\n\n\n\n<p>I
        help run a few of our squads in the web team. The web squad, vanilla squad
        and the brand squad. This means I get to see how different disciplines work
        and help them form plans to achieve their objectives. I really enjoy seeing
        squad members work well together to get stuff done!<br><\/p>\n\n\n\n<p>Before
        I came to Canonical, I worked in a small branding studio, working on a range
        of different projects, from digital brand hierarchies to cold-brew labels!&nbsp;<br><\/p>\n\n\n\n<p>When
        I am not being a project manager I like to unwind by cooking something a bit
        bougie or by playing games on my PS4.&nbsp;<\/p>\n\n\n\n<h2>Web squad<\/h2>\n\n\n\n<p>Our
        Web Squad develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        promotional sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>,
        <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a> and more.<\/p>\n\n\n\n<h3>A
        new \u201cWhat is Kubernetes\u201d page<\/h3>\n\n\n\n<p>Following the success
        of our other popular \u201cWhat is\u201d pages, we created one for Kubernetes.
        It explains a bit of the history of the project, who the main contributors
        are and the key concepts and terms around the Kubernetes project.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/ei7Sw7Tmst7fsOjKJcAGCl88X9-zFhqKTos_YyOI-6zOyZkUdn56eFLSC5-CV4AldnDjjGa7fCgwI1EtAznYkWfdJ3O1bmVqgGk3hfksQa7zFzIi7knCUcMRJsljnLRBwfPhoXaC\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/kubernetes\/what-is-kubernetes\">Visit
        the \u201cWhat is Kubernetes\u201d page &gt;<\/a><\/p>\n\n\n\n<h3>New managed
        app &#8211; Kafka<\/h3>\n\n\n\n<p>We published a new page for our managed
        application &#8211; Kafka.&nbsp; And we created a takeover for an associated
        webinar.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/k48N5pjudBwasIdqreH-nJ_a3ihitoar6A5tan8B8h-YuAp2-QiwEiAMmgCmR4fv0h9k5568PFso9DkvOgsKiztxp-IewKm4as7r2rfYc8pNvneb7WOtHIrecZgyBoNtMpL2GTUQ\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/managed\/kafka\">Visit
        the Kafka webpage &gt;<\/a><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh6.googleusercontent.com\/GDF2n1oyoc6_8_FD8snxF_iP2RQ1Kq1JhNJEmpBuTmxXbSvE5B-bf5Gi[...]
