interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=design&_embed=true
  response:
    body:
      string: '[{"id":3407,"count":28,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/design\/","name":"Design","slug":"design","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/3407"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=3407"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=3407"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=3407"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&group=3407&_embed=true
  response:
    body:
      string: '[{"id":96269,"date":"2020-06-09T09:26:02","date_gmt":"2020-06-09T09:26:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96269"},"modified":"2020-06-09T13:47:07","modified_gmt":"2020-06-09T13:47:07","slug":"design-and-web-team-summary-9th-june-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/09\/design-and-web-team-summary-9th-june-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 9th June 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<p>&#x1f44b;
        My name is Sam, and I am a project manager on the web team.<br><\/p>\n\n\n\n<p>I
        help run a few of our squads in the web team. The web squad, vanilla squad
        and the brand squad. This means I get to see how different disciplines work
        and help them form plans to achieve their objectives. I really enjoy seeing
        squad members work well together to get stuff done!<br><\/p>\n\n\n\n<p>Before
        I came to Canonical, I worked in a small branding studio, working on a range
        of different projects, from digital brand hierarchies to cold-brew labels!&nbsp;<br><\/p>\n\n\n\n<p>When
        I am not being a project manager I like to unwind by cooking something a bit
        bougie or by playing games on my PS4.&nbsp;<\/p>\n\n\n\n<h2>Web squad<\/h2>\n\n\n\n<p>Our
        Web Squad develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        promotional sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>,
        <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a> and more.<\/p>\n\n\n\n<h3>A
        new \u201cWhat is Kubernetes\u201d page<\/h3>\n\n\n\n<p>Following the success
        of our other popular \u201cWhat is\u201d pages, we created one for Kubernetes.
        It explains a bit of the history of the project, who the main contributors
        are and the key concepts and terms around the Kubernetes project.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/ei7Sw7Tmst7fsOjKJcAGCl88X9-zFhqKTos_YyOI-6zOyZkUdn56eFLSC5-CV4AldnDjjGa7fCgwI1EtAznYkWfdJ3O1bmVqgGk3hfksQa7zFzIi7knCUcMRJsljnLRBwfPhoXaC\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/kubernetes\/what-is-kubernetes\">Visit
        the \u201cWhat is Kubernetes\u201d page &gt;<\/a><\/p>\n\n\n\n<h3>New managed
        app &#8211; Kafka<\/h3>\n\n\n\n<p>We published a new page for our managed
        application &#8211; Kafka.&nbsp; And we created a takeover for an associated
        webinar.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/k48N5pjudBwasIdqreH-nJ_a3ihitoar6A5tan8B8h-YuAp2-QiwEiAMmgCmR4fv0h9k5568PFso9DkvOgsKiztxp-IewKm4as7r2rfYc8pNvneb7WOtHIrecZgyBoNtMpL2GTUQ\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/managed\/kafka\">Visit
        the Kafka webpage &gt;<\/a><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh6.googleusercontent.com\/GDF2n1oyoc6_8_FD8snxF_iP2RQ1Kq1JhNJEmpBuTmxXbSvE5B-bf5Gi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=design&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":3407,"name":"Design","slug":"design","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&group=3407&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded%2Ccontent.rendered%2Cyoast_head_json.description&_embed=true
  response:
    body:
      string: '[{"id":126204,"date_gmt":"2025-09-09T09:16:57","modified_gmt":"2025-09-09T09:17:17","slug":"how-we-ran-an-effective-sprint-to-refresh-our-design-website-part-2","title":{"rendered":"How
        we ran a sprint to refresh our design website, Part 2"},"content":{"rendered":"\n<p><em>This
        is Part 2 in the series about our website Design sprint. <\/em><a href=\"https:\/\/ubuntu.com\/blog\/how-we-ran-an-effective-sprint-to-refresh-our-website-part-1\"><em>View
        Part 1<\/em><\/a><em> if you haven\u2019t already!<\/em><\/p>\n\n\n\n<p>At
        Canonical, our design team is dedicated to providing valuable resources and
        insights into designing for open source, especially when it comes to complex
        products. Recently, we started a project to refresh our online presence, organizing
        a sprint to redesign our website. This article is the second part of a two-part
        series that takes you through the methods and tools we used to streamline
        and redefine our design team&#8217;s digital footprint.<\/p>\n\n\n\n<p>In
        part 2, you will read about:<\/p>\n\n\n\n<ul>\n<li><strong>Executing the sprint<\/strong>
        \u2013 Day-by-day insights into the methods and tools used during the sprint,
        including how the team collaborated to implement changes.<\/li>\n\n\n\n<li><strong>Post-sprint
        actions and delivery<\/strong> \u2013 A reflection on what we achieved, how
        the team communicated updates, and the next steps for maintaining a cohesive
        online presence.<\/li>\n<\/ul>\n\n\n\n<p>For each section, you will find reflections
        on how our team experienced each exercise, the biggest obstacles, and lessons
        learned for next time. I hope you find valuable insights and can learn from
        our experience to organize your own sprint.<\/p>\n\n\n\n<p><em>Note: Be sure
        to <\/em><a href=\"https:\/\/ubuntu.com\/blog\/how-we-ran-an-effective-sprint-to-refresh-our-website-part-1\"><em>check
        out part 1<\/em><\/a><em>, where we dive into the preparation phase!<\/em><\/p>\n\n\n\n<h2
        class=\"wp-block-heading\">Executing the sprint<\/h2>\n\n\n\n<h3 class=\"wp-block-heading\">Day
        1 &#8211; Information architecture, acceptance criteria, user needs, page
        outlines<\/h3>\n\n\n\n<h4 class=\"wp-block-heading\">The goals<\/h4>\n\n\n\n<p>Day
        one was all about setting the tone for the rest of the week. We kicked it
        off with a presentation on our motivation for this project and our mission
        statement, followed by an overview of the agenda for the week and the main
        goals we wanted to hit:<\/p>\n\n\n\n<ul>\n<li>Set the tone for the week with
        a kick-off covering the:\n<ul>\n<li>Goals for the week:\n<ul>\n<li>Create
        content and wirefram[...]
