interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body:
      string: '[{"id":1175,"count":130,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body:
      string: '[{"id":1187,"count":109,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&categories=1175%2C1187&_embed=true
  response:
    body:
      string: '[{"id":95012,"date":"2020-04-16T15:23:52","date_gmt":"2020-04-16T15:23:52","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=95012"},"modified":"2020-04-16T15:23:54","modified_gmt":"2020-04-16T15:23:54","slug":"you-are-invited-to-the-virtual-ubuntu-masters-event","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/04\/16\/you-are-invited-to-the-virtual-ubuntu-masters-event\/","title":{"rendered":"You
        are invited to the virtual Ubuntu Masters event"},"content":{"rendered":"\n<p>The
        Ubuntu Masters Conference is a platform for IT practitioners to share how
        they are solving industry-wide challenges with the global engineering community.
        These are the real-life use cases they are executing in their professional
        environments today, giving you actionable ideas to take into your own corporate
        setting. <br><\/p>\n\n\n\n<p>Join us on Thursday 30th April to hear these
        technical deep-dive discussions, interact with the speakers, and access resources
        to help kick you off these ideas in your own organisation.<br><\/p>\n\n\n\n<p
        style=\"text-align:center\">&lt;<a href=\"https:\/\/www.brighttalk.com\/summit\/4702-ubuntu-masters-digital-conference-the-masters-speak\/?utm_source=Takeover&amp;utm_medium=Takeover&amp;utm_campaign=CY20_DC_UbuntuMasters_EVT_UMq2\">Register<\/a>&gt;<br><\/p>\n\n\n\n<p><strong>Here
        is what our keynote speakers will discuss:<\/strong><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh4.googleusercontent.com\/_-HGptU0DFl5rpwrPWllHrvIeiVG17HqSJ33R4ZhzVCU4XrCucyE3FV-rpY609UXBBg5QdXlUf4q-YRqiG4T-P9RzkWIF_nmPJ0vt1Hmzo9TMjHCwH3tYA9ilzR9Er025_fndv8W\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><strong>11:45 am EDT\/4:45 pm BST &#8211;
        <\/strong>Over the past year the Roblox Traffic Engineering team has been
        planning a migration to open source load balancing. The goal is to provide
        an infinitely scalable, globally available, high performance solution. The
        rollout of this solution was supposed to happen over the course of a year.
        However, due to Covid-19 <a href=\"https:\/\/roblox.fandom.com\/wiki\/Project:Home\">Roblox<\/a>
        needed to scale up rapidly to meet the extra demand of their user base. With
        much of the world under quarantine, children are turning to Roblox to fill
        their time. Hear\u00a0 how Roblox scaled years worth of player growth in just
        one week.<\/p>\n\n\n\n<p style=\"text-align:center\"><a href=\"https:\/\/www.brighttalk.com\/webinar\/scaling-years-of-growth-in-one-week\/?utm_source=Takeover&amp;utm_medium=Takeover&amp;utm_campaign=CY20_DC_UbuntuMasters_EVT_UMq2\">&lt;Register&gt;<\/a><br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh4.googleusercontent.com\/DdQsBn28WouVhMdQuHUD6weejX923poHMPfZhD75w3AX0Rp0-jqzyEi6h9aNWAxXw2vKY_6mZi0zAVo5VJfSkrjWKvfFvQy3Xcpg1JKBqcZTHkwjXdW4N6PLwD2UQnxh0zkUdevI\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><strong>1:00 pm EDT\/6:00 pm BST &#8211; <\/strong>Sean
        Kelly, Senior Software Engineer at <a href=\"https:\/\/www.ifm.com\/us\/en\">ifm<\/a>,
        will give an introductory look at how the rise of distributed and edge computing
        has enhanced computer vision a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1175,"name":"Events","slug":"events","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1187,"name":"Webinars","slug":"webinars","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&categories=1175%2C1187&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":127108,"date_gmt":"2025-10-03T05:25:00","modified_gmt":"2025-10-03T05:25:00","slug":"canonical-day-tokyo-2025-jp","title":{"rendered":"Canonical
        Day Tokyo 2025\uff1aCanonical \u00d7 NTT\u30c6\u30af\u30ce\u30af\u30ed\u30b9\u3068\u5171\u50ac\u3059\u308b\u30aa\u30fc\u30d7\u30f3\u30bd\u30fc\u30b9\u306e\u672a\u6765"},"excerpt":{"rendered":"<p>\u4f01\u696d
        IT \u74b0\u5883\u306b\u304a\u3044\u3066\u3001\u9577\u671f\u7684\u306a\u5b89\u5b9a\u904b\u7528\u3068\u4fca\u654f\u306a\u6280\u8853\u9032\u5316\u306e\u4e21\u7acb\u306f\u6b20\u304b\u305b\u307e\u305b\u3093\u3002
        \u4eca\u56de\u306e Canonical Day Tokyo 2025 \u306f\u3001NTT\u30c6\u30af\u30ce\u30af\u30ed\u30b9\u3068\u5171\u50ac\u3057\u3001\u300c12\u5e74\u9593\u306e\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9\u30ea\u30b9\u30af\u3092\u89e3\u6d88
        : \u30a4\[...]
