interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available&_embed=true
  response:
    body:
      string: '[{"id":96510,"date":"2020-06-23T12:00:27","date_gmt":"2020-06-23T12:00:27","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96510"},"modified":"2020-10-05T13:06:26","modified_gmt":"2020-10-05T13:06:26","slug":"dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/23\/dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available\/","title":{"rendered":"Dell
        XPS 13 Developer Edition with Ubuntu 20.04 LTS pre-installed is now available"},"content":{"rendered":"\n<div
        class=\"wp-block-image\"><figure class=\"aligncenter\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/2e4c\/dell-xps-2004.jpg\"
        alt=\"\" class=\"wp-image-96526\"\/><\/figure><\/div>\n\n\n\n<p>The Dell <a
        href=\"https:\/\/www.dell.com\/en-us\/work\/shop\/cty\/pdp\/spd\/xps-13-9300-laptop\/ctox13w10p1c2700u\">XPS
        13 Developer Edition<\/a> is now available in North America and selected EMEA
        countries* certified with Ubuntu 20.04 LTS pre-installed to work straight
        out of the box. This is the first[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1235%2C2186%2C1301%2C3789&per_page=30&page=1&exclude=96510&_embed=true
  response:
    body:
      string: '[{"id":102784,"date":"2021-05-14T10:22:28","date_gmt":"2021-05-14T10:22:28","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=102784"},"modified":"2021-05-14T10:22:30","modified_gmt":"2021-05-14T10:22:30","slug":"ubuntu-16-04-lts-esm-support-extended-maintena[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available&status=publish&_embed=true
  response:
    body:
      string: '[{"id":96510,"date":"2020-06-23T12:00:27","date_gmt":"2020-06-23T12:00:27","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96510"},"modified":"2020-10-05T13:06:26","modified_gmt":"2020-10-05T13:06:26","slug":"dell-xps-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available&status=publish&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded%2Ccontent[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1235%2C2186%2C1301%2C3789&per_page=20&page=1&exclude=96510&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":126407,"date_gmt":"2025-07-22T14:16:48","modified_gmt":"2025-09-23T09:57:09","slug":"native-integration-dell-powerflex-and-lxd","title":{"rendered":"Native
        integration available for Dell PowerFlex and Canonical LXD"},"excerpt":{"rendered":"<p>The
        integration delivers reliable, cost-effective virtualization for modern IT
        infrastructure&nbsp; Canonical, the company behind Ubuntu, has collaborated
        with Dell Technologies on a native integration between Canonical LXD and Dell
        PowerFlex software-defined infrastructure. The combined solutions for open
        source virtualization and high-performance software-defined storage ensure
        tight coupling between the virtualization layer and the underlying storage
        infrastructure, [&hellip;]<\/p>\n"},"author":217,"categories":[],"tags":[1235,1743,4664,1774],"group":[1706],"_start_day":"21","_start_month":"07","_start_year":"2025","_end_day":"21","_end_month":"07","_end_year":"2025","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/217"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/126408"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=126407"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=126407"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=126407"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=126407"}]},"_embedded":{"author":[{"id":217,"name":"Canonical","url":"","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/","slug":"canonical","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=96&d=mm&r=g"},"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Canonical, Author at Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"profile\" \/>\n<meta property=\"og:title\" content=\"Canonical,
        Author at Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta property=\"og:image\"
        content=\"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=500&#038;d=mm&#038;r=g\"
        \/>\n<meta name=\"twitter:card\" content=\"summary_large_image\" \/>\n<meta
        name=\"twitter:site\" content=\"@ubuntu\" \/>\n<script type=\"application\/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ProfilePage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/\",\"name\":\"Canonical,
        Author at Ubuntu Blog\",\"isPartOf\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\/\/admin.insights.ubuntu.com\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Archives
        for Canonical\"}]},{\"@type\":\"Person\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/9001d5d80a05d1474308eb21aeb6af61\",\"name\":\"Canonical\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/image\/\",\"url\":\"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=96&d=mm&r=g\",\"contentUrl\":\"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=96&d=mm&r=g\",\"caption\":\"Canonical\"},\"mainEntityOfPage\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/#webpage\"}}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Canonical, Author at
        Ubuntu Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/","og_locale":"en_US","og_type":"profile","og_title":"Canonical,
        Author at Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/","og_site_name":"Ubuntu
        Blog","og_image":[{"url":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=500&d=mm&r=g"}],"twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"https:\/\/admin.insights.ubuntu.com\/#website","url":"https:\/\/admin.insights.ubuntu.com\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ProfilePage","@id":"https:\/\/admin.insights.ub[...]
