interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=phone-and-tablet&_embed=true
  response:
    body:
      string: '[{"id":1707,"count":1059,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/phone-and-tablet\/","name":"Phone
        and tablet","slug":"phone-and-tablet","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/1707"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=1707"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=1707"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=1707"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&group=1707&_embed=true
  response:
    body:
      string: '[{"id":93663,"date":"2020-01-21T14:49:36","date_gmt":"2020-01-21T14:49:36","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=93663"},"modified":"2020-01-21T20:42:24","modified_gmt":"2020-01-21T20:42:24","slug":"anbox-cloud-disrupts-mobile-user-experience","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/01\/21\/anbox-cloud-disrupts-mobile-user-experience\/","title":{"rendered":"Anbox
        Cloud disrupts mobile user experience"},"content":{"rendered":"\n<p>With the
        launch of the iPhone in 2007, mobile users were introduced to the smartphone
        as we still know it today: touchscreen, cameras and app stores. The launch
        of Android spurred low-cost alternatives to the iPhone, bringing the smartphone
        to the masses. Popularisation and growth in app consumption drove demand for
        mobile broadband. <\/p>\n\n\n\n<p>Smartphones, app stores and mobile broadband
        are the foundations of mobile UX today. However, we\u2019ve been using mobile
        devices the same way for over a decade now. But, with <a href=\"https:\/\/anbox-cloud.io\/\">Anbox
        Cloud<\/a> delivered by telcos, this is about to change.<\/p>\n\n\n\n<h2>What\u2019s
        Anbox Cloud?<\/h2>\n\n\n\n<p>Anbox Cloud is a <a href=\"https:\/\/en.wikipedia.org\/wiki\/Mobile_cloud_computing\">mobile
        cloud computing platform<\/a> that containerises mobile workloads using Android
        as a guest operating system. With Anbox Cloud, mobile applications can resort
        to boundless compute and storage capacity in the cloud. Graphics are streamed
        to clients running in any web browser, or wrapped into mobile or desktop applications.
        <\/p>\n\n\n\n<p>Using Anbox Cloud, telecommunication providers can create
        disruptive mobile user experiences for their 4G, LTE and 5G mobile network
        customers. Let\u2019s see how.<\/p>\n\n\n\n<h2>Applications-as-content<\/h2>\n\n\n\n<p>With
        Anbox Cloud, applications are ceased to be delivered as locally installed
        software binaries. Mobile apps become remotely streamed content. Streaming
        from the cloud frees apps from hardware compatibility constraints. <\/p>\n\n\n\n<p>In
        a world where apps are streamed, mobile users have access to a much richer
        selection. As a consequence, apps can be discovered and consumed as seamlessly
        as media content currently is. Think of an experience akin to Netflix, Spotify
        or Youtube: recommended systems, subscriptions, advertising and all. <\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh5.googleusercontent.com\/EzixUGAlKG1rOwY3hv1qtRxCQDfTk8S1Ja3tUJINXhM5xRQ3G9KkZ_sAvy3emWiDN1ZMIDBChSkoJqcDLIImrN9i26VqKbHcJI5ABmiTZO6AK9MHZDzJUt8y8H0O42WCq6VdyF8W\"
        alt=\"\"\/><\/figure>\n\n\n\n<p>Anbox Cloud can be hosted within the cloud
        infrastructure of telco operators. This allows mobile operators to own their
        own branded distribution channel for apps, thereby breaking away from the
        Google-Apple duopoly of centralised app stores. Telco owned app catalogs,
        delivered via Anbox Cloud, open new avenues for innovative value added services.<\/p>\n\n\n\n<h2>Cloud-augmented
        smartphones<\/h2>\n\n\n\n<p>Anbox Cloud gives the flexibility to offload compute,
        storage and energy intensive applications from mobile devices to hyperscale
        clouds. What\u2019s more, any number of virtual devices can be instantiated
        on demand in the elastic cloud. <\/p>\n\n\n\n<p>Offloading and elasticity
        are orchestrated to augment capability-constrained mobile devices. Any smartphone
        can be spinned into a hyper-phone, with several clones running in parallel
        in the cloud.&nbsp;<\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/gHQYcPo6i2ShQwoef1gGvvLMg7rbHpQFh5sN0BKkEeuL1y_s7uGSx-qekVbdQWNQvJizXXAOqlmwy7ah3ymvvSgiGHTOFdcwAdfN1AVdxbJVAu7oe_wqxx87T3GXkLZZlxrgcbMG\"
        alt=\"\"\/><\/figure>\n\n\n\n<p>Through cloud augmentation of smartphones,
        telco operators can deliver traditionally device-dependant features from their
        cloud infrastructure.\u00a0 This strengthens their position in mobile telecommunications
        ecosystems by[...]
