interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&sticky=true&_embed=true
  response:
    body:
      string: '[{"id":127158,"date":"2025-10-09T09:48:38","date_gmt":"2025-10-09T09:48:38","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=127158"},"modified":"2025-10-09T09:48:40","modified_gmt":"2025-10-09T09:48:40","slug":"canonical-releases-ubuntu-25-10-questing-quokka","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2025\/10\/09\/canonical-releases-ubuntu-25-10-questing-quokka\/","title":{"rendered":"Canonical
        releases Ubuntu 25.10 Questing Quokka"},"content":{"rendered":"\n<h4 class=\"wp-block-heading\">The
        latest interim release of Ubuntu comes with compatibility enhancements at
        the silicon level, accessibility upgrades and a robust security posture that
        sets the stage for the next LTS.<\/h4>\n\n\n\n<figure class=\"wp-block-image
        size-full\"><img loading=\"lazy\" decoding=\"async\" width=\"1920\" height=\"1080\"
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/2e6a\/Questing_Quokka_Wallpaper_Color_1920x1080.png\"
        alt=\"\" class=\"wp-image-126652\"\/><\/figure>\n\n\n\n<p><strong>October
        9, 2025<\/strong><\/p>\n\n\n\n<p>Today Canonical announced the release of
        Ubuntu 25.10, codenamed &#8220;Questing Quokka,\u201d available to download
        and install from <a href=\"http:\/\/ubuntu.com\/download\">ubuntu.com\/download<\/a>.\u00a0<\/p>\n\n\n\n<p>Alongside
        GNOME 49 and new default applications such as the Ptyxis terminal emulator
        and the Loupe image viewer, Ubuntu 25.10 introduces notable platform upgrades,
        from improved Bluetooth audio handling to expanded support for confidential
        computing features. Ubuntu 25.10 is the first to benefit from memory-safe
        implementations of &#8220;coreutils&#8221; and &#8220;sudo-rs,&#8221; as well
        as improvements in TPM-backed full disk encryption and support for nested
        virtualization on Arm.<\/p>\n\n\n\n<blockquote class=\"p-pull-quote--small\">\n  <p
        class=\"p-pull-quote__quote\">Ubuntu 25.10 is a statement of intent for the
        next Ubuntu LTS in 2026. Canonical continues to deliver a resilient, performant
        Linux operating system trusted by individuals and enterprises alike, from
        makers and developers to Fortune 500 companies, across hardware from IoT devices
        to modern datacenters. I&#8217;m particularly pleased with the progress on
        memory-safe utilities, and the enhancements to our TPM-backed full disk encryption.<\/p>\n  <span
        class=\"p-pull-quote__citation\">Jon Seager, VP of Ubuntu Engineering at Canonical<\/span>\n<\/blockquote>\n\n\n\n<p>This
        Ubuntu release is also the first to coincide with a new format of the <a href=\"https:\/\/ubuntu.com\/summit\">Ubuntu
        Summit<\/a>, where viewers around the world can learn about the latest developments
        in Ubuntu and open source.<\/p>\n\n\n\n<div class=\"p-cta-block\">\n   <a
        href=\"https:\/\/ubuntu.com\/download\" class=\"p-button--positive\">Download
        Ubuntu 25.10 for free<\/a>\n   <a href=\"https:\/\/discourse.ubuntu.com\/t\/register-for-ubuntu-summit-25-10\/65270\">Register
        for Ubuntu Summit \u203a<\/a>\n<\/div>\n\n\n\n<h2 class=\"wp-block-heading\">GNOME
        49 and accessibility enhancements<\/h2>\n\n\n\n<figure class=\"wp-block-image
        size-full\"><img loading=\"lazy\" decoding=\"async\" width=\"1282\" height=\"796\"
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/b00a\/Ubuntu-25.10-desktop-screenshot.png\"
        alt=\"\" class=\"wp-image-127161\"\/><\/figure>\n\n\n\n<p>Ubuntu 25.10 features
        <a href=\"https:\/\/release.gnome.org\/49\/\">GNOME 49<\/a>. This update intro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body:
      string: '[{"id":1175,"count":152,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Events Archives - Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/category\/events\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"article\" \/>\n<meta property=\"og:title\" content=\"Events Archives
        - Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/category\/events\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta name=\"twitter:card\"
        content=\"summary_large_image\" \/>\n<meta name=\"twitter:site\" content=\"@ubuntu\"
        \/>\n<script type=\"application\/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"http:\/\/localhost\/#website\",\"url\":\"http:\/\/localhost\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"http:\/\/localhost\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"CollectionPage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/category\/events\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/category\/events\/\",\"name\":\"Events
        Archives - Ubuntu Blog\",\"isPartOf\":{\"@id\":\"http:\/\/localhost\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/category\/events\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/category\/events\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/category\/events\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"http:\/\/localhost\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Events\"}]}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Events Archives - Ubuntu
        Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","og_locale":"en_US","og_type":"article","og_title":"Events
        Archives - Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","og_site_name":"Ubuntu
        Blog","twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"http:\/\/localhost\/#website","url":"http:\/\/localhost\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"http:\/\/localhost\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"CollectionPage","@id":"https:\/\/admin.insights.ubuntu.com\/category\/events\/#webpage","url":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events
        Archives - Ubuntu Blog","isPartOf":{"@id":"http:\/\/localhost\/#website"},"breadcrumb":{"@id":"https:\/\/admin.insights.ubuntu.com\/category\/events\/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https:\/\/admin.insights.ubuntu.com\/category\/events\/"]}]},{"@type":"BreadcrumbList","@id":"https:\/\/admin.insights.ubuntu.com\/category\/events\/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"http:\/\/localhost\/"},{"@type":"ListItem","position":2,"name":"Events"}]}]}},"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body:
      string: '[{"id":1187,"count":111,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/se[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&categories=1175%2C1187&_embed=true
  response:
    body:
      string: '[{"id":127108,"date":"2025-10-03T05:25:00","date_gmt":"2025-10-03T05:25:00","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=127108"},"modified":"2025-10-03T05:25:00","modified_gmt":"2025-10-03T05:25:00","slug":"canonical-day-tokyo-2025-jp","status":"publish","type":"post","link":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&exclude=127158%2C127066%2C126983&status=publish&_embed=true
  response:
    body:
      string: '[{"id":127126,"date":"2025-10-09T04:30:00","date_gmt":"2025-10-09T04:30:00","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=127126"},"modified":"2025-10-08T08:57:40","modified_gmt":"2025-10-08T08:57:40","slug":"cra-compliance-iot-manufacturer-best-practi[...]
