interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/users?slug=nottrobin&_embed=true
  response:
    body:
      string: '[{"id":297,"name":"Robin Winslow","url":"https:\/\/login.ubuntu.com\/+id\/yEpy4tK","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/","slug":"nottrobin","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=96&d=mm&r=g"},"meta":[],"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/297"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&author=297&_embed=true
  response:
    body:
      string: '[{"id":93596,"date":"2020-01-17T15:57:28","date_gmt":"2020-01-17T15:57:28","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=93596"},"modified":"2020-01-21T11:40:06","modified_gmt":"2020-01-21T11:40:06","slug":"design-and-web-team-summary-17-january-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/01\/17\/design-and-web-team-summary-17-january-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 17 January 2020"},"content":{"rendered":"\n<p>The
        second iteration of this year is the last one before our mid-cycle sprint
        next week.<br><\/p>\n\n\n\n<p>Here\u2019s a short summary of the work the
        squads in the Web &amp; Design team completed in the last 2-week iteration.<\/p>\n\n\n\n<h2>Web,
        Ubuntu and Brand squad<\/h2>\n\n\n\n<p>Web is the squad that develop and maintain
        most of the brochure <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">websites
        across Canonical<\/a> and is the team that underpins our toolsets and architure
        of our projects. They maintain the CI and deployment of all websites we maintain.
        The Brand Squad are tasked with updating and managing the overall style of
        Canonical, Ubuntu and the many fantastic products we create both on and off-line.<\/p>\n\n\n\n<h3>New
        canonical.com website<\/h3>\n\n\n\n<p>Yesterday we released the new <a href=\"https:\/\/canonical.com\">canonical.com<\/a>
        website, which has been a few months in the making. The site is more succinct,
        consolidating the content into a single page, with clear, standout statements:<br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/CUnTZCLKVuwVKIFfjxkTlz0QcFOdtqEcwfEibjdXkXm8u3Gmw3u7Qdub-QNaV1_jaHGWaB-snNQhu5qW4wX0D8scKK21ovtROWAMYph2IPAxm28-yGmObCIFlejo0ee-WHgI7zGW\"
        alt=\"\"\/><\/figure>\n\n\n\n<p>The largest piece of work was the new <a href=\"https:\/\/canonical.com\/careers\/start\">careers
        section<\/a>, which provides a more interactive experience for discovering
        careers at Canonical:<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh3.googleusercontent.com\/BXcpsP34ryv1U4TxbWzT2N6juvkyB_xa4o6Ynyez8yHjFNAULypLsdtFCIMfFMp3LnzqoH3mvErxVc_4lMJASvmt1mJGk3WBXxZyZrNqV41dXxxYIdcuKm0QRmbT4FMH0JHvHvVX\"
        alt=\"\"\/><\/figure>\n\n\n\n<h3>Redesign of \/download\/server\/thank-you<\/h3>\n\n\n\n<p>We\u2019ve
        updated <a href=\"https:\/\/ubuntu.com\/download\/server\/thank-you?country=GB&amp;version=18.04.3&amp;architecture=amd64\">the
        thank-you page for downloa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/users?slug=nottrobin&_fields=id%2Cname%2Cslug%2Cdescription%2Cavatar_urls%2Cmeta%2Cuser_job_title%2Cuser_twitter%2Cuser_facebook
  response:
    body:
      string: '[{"id":297,"name":"Robin Winslow","description":"","slug":"nottrobin","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=96&d=mm&r=g"},"meta":[],"user_job_title":"","user_twitter":"","user_facebook":""}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&author=297&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":101449,"date_gmt":"2021-02-18T16:44:44","modified_gmt":"2021-02-19T10:26:03","slug":"regex-basics","title":{"rendered":"Regex
        basics"},"excerpt":{"rendered":"<p>An overview of regex and how to use it,
        from a few different angles. Including appropriate warnings like &#8216;avoid
        regex&#8217;.<\/p>\n"},"author":297,"categories":[1453,2706],"tags":[1239,2826,2887,1827],"group":[3407,1479],"_start_day":"18","_start_month":"02","_start_year":"2021","_end_day":"18","_end_month":"02","_end_year":"2021","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/297"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/101455"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=101449"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=101449"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=101449"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=101449"}]},"_embedded":{"author":[{"id":297,"name":"Robin
        Winslow","url":"https:\/\/login.ubuntu.com\/+id\/yEpy4tK","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/","slug":"nottrobin","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=96&d=mm&r=g"},"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Robin Winslow, Author at Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"profile\" \/>\n<meta property=\"og:title\" content=\"Robin Winslow,
        Author at Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta property=\"og:image\"
        content=\"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=500&#038;d=mm&#038;r=g\"
        \/>\n<meta name=\"twitter:card\" content=\"summary_large_image\" \/>\n<meta
        name=\"twitter:site\" content=\"@ubuntu\" \/>\n<script type=\"application\/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ProfilePage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/\",\"name\":\"Robin
        Winslow, Author at Ubuntu Blog\",\"isPartOf\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\/\/admin.insights.ubuntu.com\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Archives
        for Robin Winslow\"}]},{\"@type\":\"Person\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/ce7a140b90dbf85e968b966a9707a9ad\",\"name\":\"Robin
        Winslow\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/image\/\",\"url\":\"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=96&d=mm&r=g\",\"contentUrl\":\"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=96&d=mm&r=g\",\"caption\":\"Robin
        Winslow\"},\"sameAs\":[\"https:\/\/login.ubuntu.com\/+id\/yEpy4tK\"],\"mainEntityOfPage\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/#webpage\"}}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Robin Winslow, Author
        at Ubuntu Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/","og_locale":"en_US","og_type":"profile","og_title":"Robin
        Winslow, Author at Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/author\/nottrobin\/","og_site_name":"Ubuntu
        Blog","og_image":[{"url":"https:\/\/secure.gravatar.com\/avatar\/72933f8d340100f493cfac7ca699cc62?s=500&d=mm&r=g"}],"twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"https:\/\/admin.insights.ubuntu.com\/#website","url":"https:\/\/admin.insights.ubuntu.com\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ProfilePage","@id":"https:\/\/admin.insights.ub[...]
