interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=testing-your-user-contract&_embed=true
  response:
    body:
      string: '[{"id":93920,"date":"2020-02-10T22:48:14","date_gmt":"2020-02-10T22:48:14","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=93920"},"modified":"2020-02-10T23:32:02","modified_gmt":"2020-02-10T23:32:02","slug":"testing-your-user-contract","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/02\/10\/testing-your-user-contract\/","title":{"rendered":"Testing
        your user contract"},"content":{"rendered":"\n<p>Whenever you write any code
        that is to be consumed by another, \nwhether it be a library or some UI element,
        that consumer expects it to \nwork in a certain way every time they interact
        with it. All good \ndevelopers would agree and that\u2019s why we also write
        tests that either \nbreak our code up into chunks and test that each chunk
        works as \nexpected, unit tests, or test the entire lifecycle, end to end
        tests.<\/p>\n\n\n\n<p>Anyone who has written unit tests for long enough knows
        that they are\n tedious to keep in sync with refactors and often end up taking
        a \ndisproportionate amount of time compared to the time it took to write
        \nthe functional code. I propose that that we focus less on unit tests and\n
        replace them with what I\u2019m calling the <strong>user contract<\/strong>
        of your code.<\/p>\n\n\n\n<h4 id=\"what-is-a-user-contract\">What is a user
        contract?<\/h4>\n\n\n\n<p>The consumer expects that when they perform action
        X, they receive \noutcome Y. Typically they are not concerned about how X
        became Y just \nthat it does so reliably. This is what I\u2019m calling the
        <strong>user contract<\/strong>.\n If we as the authors of the code take the
        same view from a testing \nperspective, it allows us to write simpler tests
        and gives us the \nability to refactor how a library or UI component works
        without having \nto update our tests, dramatically speeding up refactoring.<\/p>\n\n\n\n<p>While
        these examples are written in JavaScript the same techniques apply to all
        languages.<\/p>\n\n\n\n<h4 id=\"library-example\">Library example<\/h4>\n\n\n\n<p>Starting
        with a simple library that another developer may be using\u2026<\/p>\n\n\n\n<pre
        class=\"wp-block-code\"><code>export async function fetchUserList() {\n  const
        userList = await _queryDBForUserList();\n  return await _formatUserList(userList);\n}\n\nfunction
        _queryDBForUserList() {\n  \/\/ Fetch content from the database.\n}\n\nfunction
        _formatuserList() {\n  \/\/ Reformat the data as returned from the database.\n}<\/code><\/pre>\n\n\n\n<p>A
        consumer of this API would have a couple expectations:<\/p>\n\n\n\n<ul><li>That
        function is asynchronous.<\/li><li>It returns a user list in a specific structure.<\/li><\/ul>\n\n\n\n<p>These
        expectations then outline what your tests are:<\/p>\n\n\n\n<pre class=\"wp-block-code\"><code>describe(''fetchUserList'',
        () => {\n  it(''does not block'');\n  it(''returns in the correct format'');\n});<\/code><\/pre>\n\n\n\n<p>You
        should note that we don\u2019t test any method that wasn\u2019t exported,
        nor do we export methods simply for testing purposes.<\/p>\n\n\n\n<p>To aid
        the user in understanding what this contract is you can \noutline it in the
        docblock for the exported function. This way it can be\n used to [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1239%2C2598%2C2929&per_page=30&page=1&exclude=93920&_embed=true
  response:
    body:
      string: '[{"id":103425,"date":"2021-07-08T07:21:55","date_gmt":"2021-07-08T07:21:55","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=103425"},"modified":"2021-07-08T08:48:29","modified_gmt":"2021-07-08T08:48:29","slug":"design-and-web-team-summary-2-july-2021","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2021\/07\/08\/design-and-web-team-summary-2-july-2021\/","title":{"rendered":"Design
        and Web team summary \u2013 2 July 2021"},"content":{"rendered":"\n<p>The
        web team at Canonical runs two-week iterations building and maintaining all
        of Canonical websites and product web interfaces. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Web<\/h2>\n\n\n\n<p>The
        Web team develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>, <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a>
        and more.&nbsp;<br><\/p>\n\n\n\n<h3>Security certification docs<\/h3>\n\n\n\n<p>If
        you were not aware by now the team has been working to migrate all user-facing
        documentation to our discourse content model. As we are near completion of
        all docs, we worked on Security certification docs this iteration. Which loads
        its content from our <a href=\"https:\/\/discourse.ubuntu.com\/c\/security-certs\/86\">Security
        Certification category on discourse<\/a>.<br><\/p>\n\n\n\n<p><a href=\"http:\/\/ubuntu.com\/security\/certifications\/docs\">Visit
        the Ubuntu security certification documentation<\/a><br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh4.googleusercontent.com\/aWblJQ1jdS7jAUYmLWEi2-r0adWG4TrpMFssmjA5RllCA3BY5RFJNcPG_ar9zfJNRPCU8ae0LnHYY420rdMK0TkeIuLt7VOmiQWAUdI8U9d4IWE1rBPV6HngosXKVs2te0Veak7T\"
        alt=\"\"\/><\/figure>\n\n\n\n<h2>Brand<\/h2>\n\n\n\n<p>The Brand team develop
        our design strategy and create the look and feel for the company across many
        touch-points, from web, documents, exhibitions, logos and video.<br><\/p>\n\n\n\n<h4>Google
        Cloud social banners<\/h4>\n\n\n\n<p>Working with the Marketing team we developed
        a number of jointly branded social media Ads to promote the use of Ubuntu
        Pro for Google Cloud.<\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh5.googleusercontent.com\/nEXznPFaIWamTXDVKSTFUXzDrjWtauLAPUBl_LQVTtQix0RCu_6lYWjPzEhXMq-928jV87bcySywXl_cbYal7uQ2_qZ0PbPw-c2gdYtHAO6CcWLJBg-P0uPX3K6f0CPwyA4cywmk\"
        alt=\"\"\/><\/figure>\n\n\n\n<h4>Marketing documents<\/h4>\n\n\n\n<p>A group
        of documents were created in this iteration for use by the Marketing and Project
        Management teams, including case studies, whitepapers and datasheets.<\/p>\n\n\n\n<figure
        class=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=testing-your-user-contract&status=publish&_embed=true
  response:
    body:
      string: '[{"id":93920,"date":"2020-02-10T22:48:14","date_gmt":"2020-02-10T22:48:14","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=93920"},"modified":"2020-02-10T23:32:02","modified_gmt":"2020-02-10T23:32:02","slug":"testing-your-user-contract","status":"publish","type":"post","lin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=testing-your-user-contract&status=publish&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded%2Ccontent.rendered%2Cyoast_head_json.description&_embed=true
  re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1239%2C2598%2C2929&per_page=20&page=1&exclude=93920&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":126204,"date_gmt":"2025-09-09T09:16:57","modified_gmt":"2025-09-09T09:17:17","slug":"how-we-ran-an-effective-sprint-to-refresh-our-design-website-part-2","title":{"rendered":"How
        we ran a sprint to refresh our design website, Part 2"},"excerpt":{"rendered":"<p>Part
        2 of our series on how our team created content for our design website. Get
        insights, tools, and lessons to help you run your own design sprint.<\/p>\n"},"author":700,"categories":[],"tags":[1239,2767,2768,4620],"group":[3407],"_start_day":"04","_start_month":"07","_start_year":"2025","_end_day":"04","_end_month":"07","_end_year":"2025","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/700"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/126937"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=126204"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=126204"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=126204"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=126204"}]},"_embedded":{"author":[{"id":700,"name":"Leia
        Ruffini","url":"https:\/\/login.ubuntu.com\/+id\/r6GNphh","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/","slug":"leiaru","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=96&d=mm&r=g"},"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Leia Ruffini, Author at Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"profile\" \/>\n<meta property=\"og:title\" content=\"Leia Ruffini,
        Author at Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta property=\"og:image\"
        content=\"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=500&#038;d=mm&#038;r=g\"
        \/>\n<meta name=\"twitter:card\" content=\"summary_large_image\" \/>\n<meta
        name=\"twitter:site\" content=\"@ubuntu\" \/>\n<script type=\"application\/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ProfilePage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/\",\"name\":\"Leia
        Ruffini, Author at Ubuntu Blog\",\"isPartOf\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\/\/admin.insights.ubuntu.com\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Archives
        for Leia Ruffini\"}]},{\"@type\":\"Person\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/a02daaeaabf293f46f69f304e3ba2ea6\",\"name\":\"Leia
        Ruffini\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/image\/\",\"url\":\"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=96&d=mm&r=g\",\"contentUrl\":\"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=96&d=mm&r=g\",\"caption\":\"Leia
        Ruffini\"},\"sameAs\":[\"https:\/\/login.ubuntu.com\/+id\/r6GNphh\"],\"mainEntityOfPage\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/#webpage\"}}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Leia Ruffini, Author
        at Ubuntu Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/","og_locale":"en_US","og_type":"profile","og_title":"Leia
        Ruffini, Author at Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/author\/leiaru\/","og_site_name":"Ubuntu
        Blog","og_image":[{"url":"https:\/\/secure.gravatar.com\/avatar\/0953373508be1cee6ec62497a177fbb4?s=500&d=mm&r=g"}],"twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"https:\/\/admin.insights.ubuntu.com\/#website","url":"https:\/\/admin.insights.ubuntu.com\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ProfilePage","@id":"https:\/\/admin.insights.ub[...]
