interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&sticky=true&_embed=true
  response:
    body: {string: '[{"id":95790,"date":"2020-05-20T15:23:11","date_gmt":"2020-05-20T15:23:11","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=95790"},"modified":"2020-05-29T11:08:54","modified_gmt":"2020-05-29T11:08:54","slug":"fips-certification-ubuntu-18-04-lts","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/05\/20\/fips-certification-ubuntu-18-04-lts\/","title":{"rendered":"FIPS
        140-2 certification for Ubuntu 18.04 LTS"},"content":{"rendered":"\n<p>Canonical
        has received FIPS 140-2, Level 1 certification for cryptographic modules in
        Ubuntu 18.04 LTS, with FIPS-validated OpenSSL-1.1.1. modules included. This
        certification enables organisations to meet compliance requirements within
        the public sector, healthcare and finance industries when utilising Ubuntu
        18.04 LTS within public and private cloud environments.<br><\/p>\n\n\n\n<p>Canonical
        worked with U.S. Government and BSI accredited laboratory, <a rel=\"noreferrer
        noopener\" aria-label=\" (opens in a new tab)\" href=\"https:\/\/www.atsec.com\/\"
        target=\"_blank\">atsec information security<\/a>, for the 18.04 LTS FIPS
        certification. The publications related to FIPS standards are issued by the
        National Institute of Standards and Technology (<a href=\"https:\/\/www.nist.gov\/\"
        target=\"_blank\" rel=\"noref[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body: {string: '[{"id":1175,"count":130,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'}
    headers:
      Allow: [GET]
      Content-Type: [application/json; charset=UTF-8]
      Link: ['<https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"']
      X-WP-Total: ['1']
      X-WP-TotalPages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body: {string: '[{"id":1187,"count":109,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'}
    headers:
      Allow: [GET]
      Content-Type: [application/json; charset=UTF-8]
      Link: ['<https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"']
      X-WP-Total: ['1']
      X-WP-TotalPages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&categories=1175%2C1187&_embed=true
  response:
    body: {string: '[{"id":95012,"date":"2020-04-16T15:23:52","date_gmt":"2020-04-16T15:23:52","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=95012"},"modified":"2020-04-16T15:23:54","modified_gmt":"2020-04-16T15:23:54","slug":"you-are-invited-to-the-virtual-ubuntu-masters-event","status":"publish","typ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&exclude=95790%2C95641%2C95185&_embed=true
  response:
    body: {string: '[{"id":96269,"date":"2020-06-09T09:26:02","date_gmt":"2020-06-09T09:26:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96269"},"modified":"2020-06-09T13:47:07","modified_gmt":"2020-06-09T13:47:07","slug":"design-and-web-team-summary-9th-june-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/09\/design-and-web-team-summary-9th-june-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 9th June 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<p>&#x1f44b;
        My name is Sam, and I am a project manager on the web team.<br><\/p>\n\n\n\n<p>I
        help run a few of our squads in the web team. The web squad, vanilla squad
        and the brand squad. This means I get to see how different disciplines work
        and help them form plans to achieve their objectives. I really enjoy seeing
        squad members work well together to get stuff done!<br><\/p>\n\n\n\n<p>Before
        I came to Canonical, I worked in a small branding studio, working on a range
        of different projects, from digital brand hierarchies to cold-brew labels!&nbsp;<br><\/p>\n\n\n\n<p>When
        I am not being a project manager I like to unwind by cooking something a bit
        bougie or by playing games on my PS4.&nbsp;<\/p>\n\n\n\n<h2>Web squad<\/h2>\n\n\n\n<p>Our
        Web Squad develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        promotional sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>,
        <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a> and more.<\/p>\n\n\n\n<h3>A
        new \u201cWhat is Kubernetes\u201d page<\/h3>\n\n\n\n<p>Following the success
        of our other popular \u201cWhat is\u201d pages, we created one for Kubernetes.
        It explains a bit of the history of the project, who the main contributors
        are and the key concepts and terms around the Kubernetes project.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/ei7Sw7Tmst7fsOjKJcAGCl88X9-zFhqKTos_YyOI-6zOyZkUdn56eFLSC5-CV4AldnDjjGa7fCgwI1EtAznYkWfdJ3O1bmVqgGk3hfksQa7zFzIi7knCUcMRJsljnLRBwfPhoXaC\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/kubernetes\/what-is-kubernetes\">Visit
        the \u201cWhat is Kubernetes\u201d page &gt;<\/a><\/p>\n\n\n\n<h3>New managed
        app &#8211; Kafka<\/h3>\n\n\n\n<p>We published a new page for our managed
        application &#8211; Kafka.&nbsp; And we created a takeover for an associated
        webinar.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/k48N5pjudBwasIdqreH-nJ_a3ihitoar6A5tan8B8h-YuAp2-QiwEiAMmgCmR4fv0h9k5568PFso9DkvOgsKiztxp-IewKm4as7r2rfYc8pNvneb7WOtHIrecZgyBoNtMpL2GTUQ\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/managed\/kafka\">Visit
        the Kafka webpage &gt;<\/a><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh6.googleusercontent.com\/GDF2n1oyoc6_8_FD8snxF_iP2RQ1Kq1JhNJEmpBuTmxXbSvE5B-bf5Gi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=1&page=1&_embed=true
  response:
    body: {string: '[{"id":96269,"date":"2020-06-09T09:26:02","date_gmt":"2020-06-09T09:26:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96269"},"modified":"2020-06-09T13:47:07","modified_gmt":"2020-06-09T13:47:07","slug":"design-and-web-team-summary-9th-june-2020","status":"publish","type":"post","link":"https:\/\/admin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1239&per_page=3&page=1&exclude=96269&_embed=true
  response:
    body: {string: '[{"id":95998,"date":"2020-05-27T07:46:18","date_gmt":"2020-05-27T07:46:18","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=95998"},"modified":"2020-05-27T10:47:19","modified_gmt":"2020-05-27T10:47:19","slug":"design-and-web-team-summary-27-may-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/05\/27\/design-and-web-team-summary-27-may-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 27 May 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/ad3t7s0jC17zEwqL6qZsxzNiANYI5YOs1RQ4A7bx1rjzAscaW3aDIPYS8WHDlipRsAZlveI8RCwgXTyelyhzqEKNCssEliuzojwPWvH-_knlqrrF-PH7G_V_voR0MQZT3OwLu3TO\"
        alt=\"\"\/><figcaption>Photo credit: Claudio Gomboli<\/figcaption><\/figure>\n\n\n\n<p>My
        name is Bartek (also known as <a href=\"https:\/\/github.com\/bartaz\">bartaz<\/a>
        around the interwebz). I live in Pozna\u0144 in Poland and I&#8217;m a web
        developer. I&#8217;ve been a software developer for over 10 years now, working
        in front-end related technologies for most of this time. IE6 was still a thing
        when I started trying to make browsers display what I want them to, jQuery
  [...]
