interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories/1453?_embed=true
  response:
    body:
      string: '{"id":1453,"count":1497,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/articles\/","name":"Articles","slug":"articles","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1453"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1453"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1453"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=articles&_embed=true
  response:
    body:
      string: '[{"id":1453,"count":1497,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/articles\/","name":"Articles","slug":"articles","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1453"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1453"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1453"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?per_page=100&_embed=true
  response:
    body:
      string: '[{"id":1453,"count":1497,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/articles\/","name":"Articles","slug":"articles","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1453"}],"collection":[{"href":"htt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories/1453?_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '{"id":1453,"name":"Articles","slug":"articles","parent":0}'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=articles&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1453,"name":"Articles","slug":"articles","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?per_page=100&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":4678,"name":"5G core","slug":"5g-core","parent":4677},{"id":4708,"name":"5G
        RAN","slug":"5g-ran","parent":4677},{"id":4766,"name":"Anbox Cloud","slug":"anbox-cloud","parent":2639},{"id":3920,"name":"Apps","slug":"apps","parent":0},{"id":1453,"name":"Articles","slug":"articles",[...]
