interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=%2Ftop-10-linux-apps-for-entertainment-and-leisure&_embed=true
  response:
    body:
      string: '[{"id":85990,"date":"2018-08-30T14:00:43","date_gmt":"2018-08-30T14:00:43","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=85990"},"modified":"2019-07-11T16:16:24","modified_gmt":"2019-07-11T16:16:24","slug":"top-10-linux-apps-for-entertainment-and-leisure","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2018\/08\/30\/top-10-linux-apps-for-entertainment-and-leisure\/","title":{"rendered":"Top
        10 Linux applications for entertainment and leisure"},"content":{"rendered":"<p>As
        the summer vacation season comes to a close in the northern hemisphere I reflect
        on 10 applications my family and I used during the summer to keep ourselves
        entertained. All of the following applications are available as <a href=\"https:\/\/docs.snapcraft.io\/core\/install\">Snaps
        that work on all major Linux distros once snapd is installed.<\/a><\/p>\n<p>The
        Snapcraft team share 3 new and interesting applications each week via the
        <a href=\"https:\/\/twitter.com\/snapcraftio\">Snapcraft Twitter<\/a> account,
        so give us a follow to stay informed.<\/p>\n<div style=\"padding-bottom: 10px;\">\n<table
        style=\"margin-bottom: 0px; overflow: auto;\">\n<tbody>\n<tr>\n<td style=\"background:
        transparent; border: 0; padding-left: 0px;\" width=\"100px\"><img src=\"https:\/\/dashboard.snapcraft.io\/site_media\/appmedia\/2018\/02\/firefox256.png\"><\/td>\n<td
        style=\"align: left; text-align: left; background: transparent; border: 0px;\">\n<h3
        style=\"margin-bottom: 0px;\">1. <a class=\"external\" href=\"https:\/\/snapcraft.io\/firefox\">Firefox<\/a><\/h3>\n<p>Mozilla<\/td>\n<\/tr>\n<\/tbody>\n<\/table>\n<p><img
        src=\"https:\/\/dashboard.snapcraft.io\/site_media\/appmedia\/2018\/03\/Screenshot_from_2018-03-12_13-32-44.png\"
        width=\"100%\"><br \/>\nMozilla Firefox is a free and open-source web browser.
        My family and I used Firefox to plan our summer holiday including booking
        ferry crossings, planning our route to drive across France and booking our
        accomadation. Firefox was also a great way to catch up on our favourite TV
        shows and films via Netflix and Amazon Video during  overnight stays in hotels
        while we were travelling. Get <a href=\"https:\/\/snapcraft.io\/firefox\">Firefox
        from the Snap store<\/a> or install it on the command-line with:<br \/>\n<code>snap
        install firefox<\/code><\/p>\n<\/div>\n<div style=\"padding-bottom: 10px;\">\n<table
        style=\"margin-bottom: 0px; overflow: auto;\">\n<tbody>\n<tr>\n<td style=\"background:
        transparent; border: 0; padding-left: 0px;\" width=\"100px\"><img src=\"https:\/\/dashboard.snapcraft.io\/site_media\/appmedia\/2017\/12\/spotify-linux-256.png\"><\/td>\n<td
        style=\"align: left; text-align: left; background: transparent; border: 0px;\">\n<h3
        style=\"margin-bottom: 0[...]
