interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&_embed=true
  response:
    body:
      string: '[{"id":96269,"date":"2020-06-09T09:26:02","date_gmt":"2020-06-09T09:26:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96269"},"modified":"2020-06-09T13:47:07","modified_gmt":"2020-06-09T13:47:07","slug":"design-and-web-team-summary-9th-june-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/09\/design-and-web-team-summary-9th-june-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 9th June 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<p>&#x1f44b;
        My name is Sam, and I am a project manager on the web team.<br><\/p>\n\n\n\n<p>I
        help run a few of our squads in the web team. The web squad, vanilla squad
        and the brand squad. This means I get to see how different disciplines work
        and help them form plans to achieve their objectives. I really enjoy seeing
        squad members work well together to get stuff done!<br><\/p>\n\n\n\n<p>Before
        I came to Canonical, I worked in a small branding studio, working on a range
        of different projects, from digital brand hierarchies to cold-brew labels!&nbsp;<br><\/p>\n\n\n\n<p>When
        I am not being a project manager I like to unwind by cooking something a bit
        bougie or by playing games on my PS4.&nbsp;<\/p>\n\n\n\n<h2>Web squad<\/h2>\n\n\n\n<p>Our
        Web Squad develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        promotional sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>,
        <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a> and more.<\/p>\n\n\n\n<h3>A
        new \u201cWhat is Kubernetes\u201d page<\/h3>\n\n\n\n<p>Following the success
        of our other popular \u201cWhat is\u201d pages, we created one for Kubernetes.
        It explains a bit of the history of the project, who the main contributors
        are and the key concepts and terms around the Kubernetes project.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/ei7Sw7Tmst7fsOjKJcAGCl88X9-zFhqKTos_YyOI-6zOyZkUdn56eFLSC5-CV4AldnDjjGa7fCgwI1EtAznYkWfdJ3O1bmVqgGk3hfksQa7zFzIi7knCUcMRJsljnLRBwfPhoXaC\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/kubernetes\/what-is-kubernetes\">Visit
        the \u201cWhat is Kubernetes\u201d page &gt;<\/a><\/p>\n\n\n\n<h3>New managed
        app &#8211; Kafka<\/h3>\n\n\n\n<p>We published a new page for our managed
        application &#8211; Kafka.&nbsp; And we created a takeover for an associated
        webinar.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/k48N5pjudBwasIdqreH-nJ_a3ihitoar6A5tan8B8h-YuAp2-QiwEiAMmgCmR4fv0h9k5568PFso9DkvOgsKiztxp-IewKm4as7r2rfYc8pNvneb7WOtHIrecZgyBoNtMpL2GTUQ\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/managed\/kafka\">Visit
        the Kafka webpage &gt;<\/a><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh6.googleusercontent.com\/GDF2n1oyoc6_8_FD8snxF_iP2RQ1Kq1JhNJEmpBuTmxXbSvE5B-bf5Gi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":127377,"date_gmt":"2025-10-28T19:24:39","modified_gmt":"2025-10-29T10:50:50","slug":"canonical-and-nvidia-bluefield-4-a-foundation-for-zero-trust-high-performance-infrastructure","title":{"rendered":"Canonical
        and NVIDIA BlueField-4: a foundation for zero-trust high performance infrastructure"},"excerpt":{"rendered":"<p>At
        NVIDIA GTC Washington D.C., Canonical is pleased to support the arrival of
        the NVIDIA BlueField-4 &#8211; the newest generation of the data processing
        unit (DPU) family. NVIDIA BlueField-4 is an accelerated infrastructure platform
        for gigascale AI factories. By combining NVIDIA Grace CPU and NVIDIA ConnectX-9
        networking, it delivers 6x the compute power of BlueField-3 [&hellip;]<\/p>\n"},"author":837,"categories":[],"tags":[2389,1848,2184],"group":[3367,4168,4167,4408,4501],"_start_day":"28","_start_month":"10","_start_year":"2025","_end_day":"28","_end_month":"10","_end_year":"2025","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/837"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/127371"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=127377"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=127377"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=127377"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=127377"}]},"_embedded":{"author":[{"id":837,"name":"Benjamin
        Ryzman","url":"https:\/\/login.ubuntu.com\/+id\/7Rt63Bb","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/","slug":"benjaminryzman","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=96&d=mm&r=g"},"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Benjamin Ryzman, Author at Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"profile\" \/>\n<meta property=\"og:title\" content=\"Benjamin Ryzman,
        Author at Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta property=\"og:image\"
        content=\"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=500&#038;d=mm&#038;r=g\"
        \/>\n<meta name=\"twitter:card\" content=\"summary_large_image\" \/>\n<meta
        name=\"twitter:site\" content=\"@ubuntu\" \/>\n<script type=\"application\/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ProfilePage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\",\"name\":\"Benjamin
        Ryzman, Author at Ubuntu Blog\",\"isPartOf\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\/\/admin.insights.ubuntu.com\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Archives
        for Benjamin Ryzman\"}]},{\"@type\":\"Person\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/16b75f3d5509feff27b062335f4ff4db\",\"name\":\"Benjamin
        Ryzman\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/image\/\",\"url\":\"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=96&d=mm&r=g\",\"contentUrl\":\"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=96&d=mm&r=g\",\"caption\":\"Benjamin
        Ryzman\"},\"sameAs\":[\"https:\/\/login.ubuntu.com\/+id\/7Rt63Bb\"],\"mainEntityOfPage\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#webpage\"}}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Benjamin Ryzman, Author
        at Ubuntu Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/","og_locale":"en_US","og_type":"profile","og_title":"Benjamin
        Ryzman, Author at Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/","og_site_name":"Ubuntu
        Blog","og_image":[{"url":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=500&d=mm&r=g"}],"twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"https:\/\/admin.insights.ubuntu.com\/#website","url":"https:\/\/admin.insights.ubuntu.com\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ProfilePage","@id":"https:\/\/admin.insights.ub[...]
