interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=the-ubuntu-community-contributes-towards-saving-the-iberian-lynx&_embed=true
  response:
    body:
      string: '[{"id":431,"date":"2010-10-07T17:28:29","date_gmt":"2010-10-07T16:28:29","guid":{"rendered":"http:\/\/blog.canonical.com\/?p=431"},"modified":"2019-07-12T08:34:12","modified_gmt":"2019-07-12T08:34:12","slug":"the-ubuntu-community-contributes-towards-saving-the-iberian-lynx","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2010\/10\/07\/the-ubuntu-community-contributes-towards-saving-the-iberian-lynx\/","title":{"rendered":"The
        Ubuntu community contributes towards saving the Iberian Lynx"},"content":{"rendered":"<div>\n<p>With
        only three days until Ubuntu 10.10 (a.k.a Maverick           Meerkat) is           released
        and available to the world, it seems quite possible           that           Ubuntu\u2019s
        10.04 LTS (a.k.a Lucid Lynx) distribution will seem           like a           thing
        of the past.<\/p>\n<p>If we cast our minds back, to about 6 months ago, we
        recall           that one           of the features of the Ubuntu 10.04 LTS
        Desktop Edition was           the           addition of the Ubuntu One Music
        store. Music from the world\u2019s           largest           labels and
        most popular artists can be bought directly from           the <a href=\"https:\/\/one.ubuntu.com\/music\/\">Ubuntu
        One Music Store<\/a> and           stored in <a href=\"http:\/\/one.ubuntu.com\/\">Ubuntu
        One<\/a> (your &#8216;personal cloud\u2019).<\/p>\n<p>Around the same time,
        <a href=\"http:\/\/www.canonical.com\/\">Canonical<\/a> announced that they
        would donate a percentage of sales (for           songs) from           the
        Ubuntu One Music Store<em>, <\/em>as well as from sales of           the <a
        href=\"http:\/\/shop.canonical.com\/product_info.php?products_id=645\">Lynx
        plushie             toys<\/a> available on the <a href=\"http:\/\/shop.canonical.com\/\">Ubuntu             shop<\/a>
        <em> <\/em>(to a maximum of US$1004) to the <a href=\"http:\/\/www.soslynx.org\/\">SOS             Lynx<\/a><em>
        <\/em>charity in           Portugal, to help save the Iberian Lynx<em>. <\/em>So
        thanks to your             support, we&#8217;ve been able to             make
        the contribution on behalf of the Ubuntu community.<\/p>\n<a href=\"..\/wp-content\/uploads\/\/2010\/10\/iberian_lynx.jpg\"><img
        class=\"size-full wp-image-435\" title=\"iberian_lynx\" src=\"..\/wp-content\/uploads\/\/2010\/10\/iberian_lynx.jpg\"
        alt=\"The Iberian Lynx\" width=\"400\" height=\"266\"><\/a><br \/>\n<p>The
        Iberian Lynx is the most endangered feline species in the           world,           as
        few as 220 individuals survive in the wild. The species was           once           widespread
        across the Iberian Peninsula but has declined           drastically           over
        recent decades, due to habitat loss, reductions in prey           and high           non-natural
        mortality from road kills, hunting and predator           control.<\/p>\n<p>Canonical
        got in touch with Dan Ward and Stephen Hugman from           SOS           Lynx
        to give them the positive news. They had the following to           say:<\/p>\n<blockquote><p>\u201cWe
        (SOS Lynx) will shortly be releasing a research study             on             predator
        control and it\u2019s impact on the Iberian Lynx. We             have just             prepared
        material in Portuguese for use in schools, as well             as working             with
        conservation groups in Portugal and Spain. We are             focusing mainly             on
        educational campaigns and research to raise awareness and             support [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1216%2C2662%2C2705&per_page=30&page=1&exclude=431&_embed=true
  response:
    body:
      string: '[{"id":103086,"date":"2021-06-17T19:23:57","date_gmt":"2021-06-17T19:23:57","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=103086"},"modified":"2021-06-17T19:23:58","modified_gmt":"2021-06-17T19:23:58","slug":"two-factor-authentication-coming-to-ubuntu-one","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2021\/06\/17\/two-factor-authentication-coming-to-ubuntu-one\/","title":{"rendered":"Two-factor
        authentication coming to Ubuntu One"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/ffaa\/alberto-barrera-G3GL5lJygz8-unsplash.jpg\"
        alt=\"\" class=\"wp-image-103098\"\/><\/figure>\n\n\n\n<h2 id=\"docs-internal-guid-c525026f-7fff-56fb-ae30-320377190ecc\">What
        is 2-factor authentication (2FA)?<\/h2>\n\n\n\n<p>Two factor authentication
        (2FA) increases your account security further than just using a username and
        password. In addition to a password (the first factor), you need another factor
        to access your account. A great example to demonstrate this is when you withdraw
        money from an ATM. To access your bank account you need both your physical
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=the-ubuntu-community-contributes-towards-saving-the-iberian-lynx&status=publish&_embed=true
  response:
    body:
      string: '[{"id":431,"date":"2010-10-07T17:28:29","date_gmt":"2010-10-07T16:28:29","guid":{"rendered":"http:\/\/blog.canonical.com\/?p=431"},"modified":"2019-07-12T08:34:12","modified_gmt":"2019-07-12T08:34:12","slug":"the-ubuntu-community-contributes-toward[...]
