interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=design&_embed=true
  response:
    body: {string: '[{"id":3407,"count":28,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/design\/","name":"Design","slug":"design","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/3407"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=3407"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=3407"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=3407"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'}
    headers:
      Allow: [GET]
      Content-Type: [application/json; charset=UTF-8]
      Link: ['<https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"']
      X-WP-Total: ['1']
      X-WP-TotalPages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&categories=&group=3407&_embed=true
  response:
    body: {string: '[{"id":96269,"date":"2020-06-09T09:26:02","date_gmt":"2020-06-09T09:26:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96269"},"modified":"2020-06-09T13:47:07","modified_gmt":"2020-06-09T13:47:07","slug":"design-and-web-team-summary-9th-june-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/09\/design-and-web-team-summary-9th-june-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 9th June 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<p>&#x1f44b;
        My name is Sam, and I am a project manager on the web team.<br><\/p>\n\n\n\n<p>I
        help run a few of our squads in the web team. The web squad, vanilla squad
        and the brand squad. This means I get to see how different disciplines work
        and help them form plans to achieve their objectives. I really enjoy seeing
        squad members work well together to get stuff done!<br><\/p>\n\n\n\n<p>Before
        I came to Canonical, I worked in a small branding studio, working on a range
        of different projects, from digital brand hierarchies to cold-brew labels!&nbsp;<br><\/p>\n\n\n\n<p>When
        I am not being a project manager I like to unwind by cooking something a bit
        bougie or by playing games on my PS4.&nbsp;<\/p>\n\n\n\n<h2>Web squad<\/h2>\n\n\n\n<p>Our
        Web Squad develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        promotional sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>,
        <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a> and more.<\/p>\n\n\n\n<h3>A
        new \u201cWhat is Kubernetes\u201d page<\/h3>\n\n\n\n<p>Following the success
        of our other popular \u201cWhat is\u201d pages, we created one for Kubernetes.
        It explains a bit of the history of the project, who the main contributors
        are and the key concepts and terms around the Kubernetes project.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/ei7Sw7Tmst7fsOjKJcAGCl88X9-zFhqKTos_YyOI-6zOyZkUdn56eFLSC5-CV4AldnDjjGa7fCgwI1EtAznYkWfdJ3O1bmVqgGk3hfksQa7zFzIi7knCUcMRJsljnLRBwfPhoXaC\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/kubernetes\/what-is-kubernetes\">Visit
        the \u201cWhat is Kubernetes\u201d page &gt;<\/a><\/p>\n\n\n\n<h3>New managed
        app &#8211; Kafka<\/h3>\n\n\n\n<p>We published a new page for our managed
        application &#8211; Kafka.&nbsp; And we created a takeover for an associated
        webinar.<br><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/k48N5pjudBwasIdqreH-nJ_a3ihitoar6A5tan8B8h-YuAp2-QiwEiAMmgCmR4fv0h9k5568PFso9DkvOgsKiztxp-IewKm4as7r2rfYc8pNvneb7WOtHIrecZgyBoNtMpL2GTUQ\"
        alt=\"\"\/><\/figure>\n\n\n\n<p><a href=\"https:\/\/ubuntu.com\/managed\/kafka\">Visit
        the Kafka webpage &gt;<\/a><\/p>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/lh6.googleusercontent.com\/GDF2n1oyoc6_8_FD8snxF_iP2RQ1Kq1JhNJEmpBuTmxXbSvE5B-bf5Gi[...]
