interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=not-exist&_embed=true
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '0'
      X-WP-TotalPages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&categories=&group=&_embed=true
  response:
    body:
      string: '[{"id":97853,"date":"2020-09-28T10:15:02","date_gmt":"2020-09-28T10:15:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97853"},"modified":"2020-09-28T10:15:04","modified_gmt":"2020-09-28T10:15:04","slug":"osm-hackfest-mr9","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/09\/28\/osm-hackfest-mr9\/","title":{"rendered":"Canonical
        at OSM Hackfest MR#9"},"content":{"rendered":"\n<p>The 12th OSM Hackfest,
        or OSM mid-release NINE (MR#9) Hackfest, is one for the books and Canonical
        happily shared the presenter floor with the rest of the Open Source MANO (<a
        href=\"https:\/\/osm.etsi.org\/\">OSM<\/a>) community. The event spanned the
        whole week from September 7th to 11th, with Wednesday September 9th afternoon
        being used for the OSM Ecosystem day. As per the last two hackfests, the remote
        format allowed participation of hundreds of enthusiasts. During the preparation
        of the hackfest, it was agreed to keep the same theme as the last one, so
        participants were able to use OSM to manage and orchestrate workloads in an
        end-to-end open source mobile network solution with the Facebook Connectivity
        project; <a href=\"https:\/\/connectivity.fb.com\/magma\/\">Magma<\/a>.&nbsp;<\/p>\n\n\n\n<h2>Hackfest
        week overview<\/h2>\n\n\n\n<p>The first day of the hackfest was about introducing
        the end-to-end scenario, so the participants got a high-level view of the
        steps they would be following. Next, they were given an overview of the latest
        OSM features in release EIGHT, setup instructions for the hackfest environment
        and a session about building a virtual network function (VNF) deployment unit
        and adding monitoring capabilities to it. The next day was about the OSM support
        for Kubernetes and how to leverage OSM orchestration actions, or primitives
        as these are referred to by telcos, to deploy and operate network functions
        on virtual machines (VNFs).&nbsp; Wednesday was split between OSM primitives
        for Kubernetes-managed containers (KNFs) and then the Ecosystem day during
        the afternoon. Thursday focused on network slicing with OSM, placement optimisation,
        closed-loop operations and monitoring, enabling high performance in VNFs and
        underlay automation with SDN Assist. Lastly, Friday had a more hand-off approach,
        with OSM in production environments, an overview of the new OSM UI, a session
        on developer guidelines and a Q&amp;A session with OSM experts. The full agenda
        and slides from all sessions can be found on the <a href=\"https:\/\/osm.etsi.org\/wikipub\/index.php\/OSM-MR9_Hackfest\">OSM
        wiki<\/a>.<\/p>\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter
        is-resized\"><img src=\"https:\/\/lh5.googleusercontent.com\/BJ1wXazmUXK2-wX46pWuvpfaNUGfyjvI_yxwrGfB1ymdwhiuRwyrb0CFU-y2bhmVgaebtcPJ9Zs_tj0fPqoHXtN0pwBWJugBi1E-yphc-GLswO159yrT7LZEDyG2YhDZG2gNfuMv\"
        alt=\"\" width=\"278\" height=\"208\"\/><figcaption><em>Canonical\u2019s OSM
        Distribution logo\ufeff<\/em><\/figcaption><\/figure><\/div>\n\n\n\n<h2>Canonical
        at the OSM-MR#9 Hackfest<\/h2>\n\n\n\n<p>Canonical\u2019s OSM team attended
        the hackfest both as session presenters and as participants to the leadership
        and technical sessions. Mark Beierl, the <a href=\"https:\/\/osm.etsi.org\/wiki\/index.php\/DEVOPS_MDG#MDG_Lead\">OSM
        DevOps module design lead<\/a> (MDL), drove the day 1 session that introduced
       [...]
