interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=%2Fdesign-and-web-team-summary-20th-july-2020&_embed=
  response:
    body:
      string: '[{"id":97160,"date":"2020-07-20T17:48:22","date_gmt":"2020-07-20T17:48:22","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97160"},"modified":"2020-07-20T22:34:39","modified_gmt":"2020-07-20T22:34:39","slug":"design-and-web-team-summary-20th-july-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/07\/20\/design-and-web-team-summary-20th-july-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 20th July 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Meet the team<\/h2>\n\n\n\n<figure
        class=\"wp-block-image is-resized\"><img src=\"https:\/\/lh5.googleusercontent.com\/PKCTzU1ENAow2PDqhPo-K6drMTKwQduAAqKNUbHWVnJmmQXjI8GsXgSQhsVg6Q-0vZrKRCFNUxYvG1iIDVQ3MSTzgx-UWtGlLR6lgZQWcEt0P967bjqQCePnSJXOd3FWVjo0hzTG\"
        alt=\"\" width=\"266\" height=\"286\"\/><figcaption>Daniel Mutis<\/figcaption><\/figure>\n\n\n\n<p>I
        am from a small island of Colombia in the Caribbean although I grew up in
        Barcelona, where I went to University to study Industrial Design Engineering.
        After my studies I lived briefly in Germany with the intention of learning
        the language, but 7 months after I got into a master\u2019s program at <a
        href=\"https:\/\/www.arts.ac.uk\/colleges\/central-saint-martins#\">Central
        Saint Martins<\/a> and mov[...]
