interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&_embed=true
  response:
    body:
      string: '[{"id":97100,"date":"2020-07-14T04:09:36","date_gmt":"2020-07-14T04:09:36","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97100"},"modified":"2020-07-14T04:09:38","modified_gmt":"2020-07-14T04:09:38","slug":"microk8s-ha-tech-preview-is-now-available-2","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/07\/14\/microk8s-ha-tech-preview-is-now-available-2\/","title":{"rendered":"MicroK8s\u73b0\u8fce\u6765\u6280\u672f\u9884\u89c8\u7248HA\u529f\u80fd"},"content":{"rendered":"\n<p>\u8f7b\u91cf\u7ea7\u7684Kubernetes
        <a href=\"https:\/\/microk8s.io\/\">MicroK8s<\/a>\u73b0\u5728\u8fce\u6765\u4e86\u9ad8\u53ef\u7528\uff08HA\uff09\u7684\u6280\u672f\u9884\u89c8\u7248\u529f\u80fd\uff0c\u652f\u6301Linux\u3001Windows\u548cMacOS\u3002Kubernetes\u63a7\u5236\u9762\u677f\u73b0\u5728\u53ef\u4ee5\u5206\u5e03\u5728\u591a\u4e2a\u8282\u70b9\u4e0a\uff0c\u4f7f\u7528\u5206\u5e03\u5f0fSQL\u5f15\u64ce<a
        href=\"https:\/\/dqlite.io\/\">Dqlite<\/a>\u4f5c\u4e3aKubernetes\u6570\u636e\u5b58\u50a8\uff0c\u5728\u4e3a\u96c6\u7fa4\u5e26\u6765\u5f39\u6027\u7684\u540c\u65f6\u4fdd\u6301\u8f83\u4f4e\u7684\u5360\u7528\u7a7a\u95f4\u3002<br><\/p>\n\n\n\n<p>\u5728Linux\u4e0a\uff0c\u4f60\u53ef\u4ece\u6280\u672f\u9884\u89c8\uff08ha-preview\uff09\u5206\u652f\u4e0b\u8f7d\u548c\u6d4b\u8bd5MicroK8s\u7684HA\u529f\u80fd\uff0c\u547d\u4ee4\u5982\u4e0b\uff1a<\/p>\n\n\n\n<pre>sudo
        snap install microk8s --classic --channel=latest\/edge\/ha-preview<br><\/pre>\n\n\n\n<p>\u5982\u679c\u60a8\u5df2\u7ecf\u6709\u4e86MicroK8s\uff0c\u53ef\u901a\u8fc7<a
        href=\"https:\/\/microk8s.io\/docs\/high-availability\">MicroK8s HA\u6587\u6863<\/a>\u4e86\u89e3\u5982\u4f55\u5347\u7ea7\u81f3HA\u901a\u9053\u548c\u8bbe\u7f6e\u60a8\u7684MicroK8s
        HA\u96c6\u7fa4\u3002<br><\/p>\n\n\n\n<p>\u5982\u60a8\u60f3\u8981\u5728<a href=\"https:\/\/microk8s.io\/docs\/install-alternativ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=nonexistent-slug&_embed=true
  response:
    body:
      string: '[]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '0'
      X-WP-TotalPages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":127377,"date_gmt":"2025-10-28T19:24:39","modified_gmt":"2025-10-29T10:50:50","slug":"canonical-and-nvidia-bluefield-4-a-foundation-for-zero-trust-high-performance-infrastructure","title":{"rendered":"Canonical
        and NVIDIA BlueField-4: a foundation for zero-trust high performance infrastructure"},"excerpt":{"rendered":"<p>At
        NVIDIA GTC Washington D.C., Canonical is pleased to support the arrival of
        the NVIDIA BlueField-4 &#8211; the newest generation of the data processing
        unit (DPU) family. NVIDIA BlueField-4 is an accelerated infrastructure platform
        for gigascale AI factories. By combining NVIDIA Grace CPU and NVIDIA ConnectX-9
        networking, it delivers 6x the compute power of BlueField-3 [&hellip;]<\/p>\n"},"author":837,"categories":[],"tags":[2389,1848,2184],"group":[3367,4168,4167,4408,4501],"_start_day":"28","_start_month":"10","_start_year":"2025","_end_day":"28","_end_month":"10","_end_year":"2025","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/837"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/127371"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=127377"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=127377"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=127377"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=127377"}]},"_embedded":{"author":[{"id":837,"name":"Benjamin
        Ryzman","url":"https:\/\/login.ubuntu.com\/+id\/7Rt63Bb","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/","slug":"benjaminryzman","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=96&d=mm&r=g"},"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Benjamin Ryzman, Author at Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"profile\" \/>\n<meta property=\"og:title\" content=\"Benjamin Ryzman,
        Author at Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta property=\"og:image\"
        content=\"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=500&#038;d=mm&#038;r=g\"
        \/>\n<meta name=\"twitter:card\" content=\"summary_large_image\" \/>\n<meta
        name=\"twitter:site\" content=\"@ubuntu\" \/>\n<script type=\"application\/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ProfilePage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\",\"name\":\"Benjamin
        Ryzman, Author at Ubuntu Blog\",\"isPartOf\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\/\/admin.insights.ubuntu.com\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Archives
        for Benjamin Ryzman\"}]},{\"@type\":\"Person\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/16b75f3d5509feff27b062335f4ff4db\",\"name\":\"Benjamin
        Ryzman\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/image\/\",\"url\":\"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=96&d=mm&r=g\",\"contentUrl\":\"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=96&d=mm&r=g\",\"caption\":\"Benjamin
        Ryzman\"},\"sameAs\":[\"https:\/\/login.ubuntu.com\/+id\/7Rt63Bb\"],\"mainEntityOfPage\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/#webpage\"}}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Benjamin Ryzman, Author
        at Ubuntu Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/","og_locale":"en_US","og_type":"profile","og_title":"Benjamin
        Ryzman, Author at Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/author\/benjaminryzman\/","og_site_name":"Ubuntu
        Blog","og_image":[{"url":"https:\/\/secure.gravatar.com\/avatar\/61029dcaede307ac47b58ba1f68e959a?s=500&d=mm&r=g"}],"twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"https:\/\/admin.insights.ubuntu.com\/#website","url":"https:\/\/admin.insights.ubuntu.com\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ProfilePage","@id":"https:\/\/admin.insights.ub[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=nonexistent-slug&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded%2Ccontent.rendered%2Cyoast_head_json.description&_embed=true
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: ''
version: 1
