interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&sticky=true&_embed=
  response:
    body:
      string: '[{"id":97114,"date":"2020-07-15T12:21:54","date_gmt":"2020-07-15T12:21:54","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97114"},"modified":"2020-07-15T12:21:55","modified_gmt":"2020-07-15T12:21:55","slug":"%ef%bb%bfcanonical-launches-enhanced-gsi-partner-programme-bringing-scalability-and-automation-to-modernise-enterprise-it-deployments","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/07\/15\/%ef%bb%bfcanonical-launches-enhanced-gsi-partner-programme-bringing-scalability-and-automation-to-modernise-enterprise-it-deployments\/","title":{"rendered":"\ufeffCanonical
        launches enhanced GSI partner programme, bringing scalability and automation
        to modernise enterprise IT deployments"},"content":{"rendered":"\n<p><strong>15
        July 2020<\/strong>: Canonical, the publisher of <a href=\"https:\/\/ubuntu.com\/\">Ubuntu<\/a>,
        today announces the launch of its enhanced Global System Integrator (GSI)
        Programme. Alongside new partnership benefits, it includes resell and integration
        opportunities for the entirety of Canonical\u2019s secure, open source portfolio
        for the data centre, multi-cloud, edge and IoT. GSIs can now drive increased
        revenue by building customer solutions[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=
  response:
    body:
      string: '[{"id":1175,"count":131,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=
  response:
    body:
      string: '[{"id":1187,"count":110,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&categories=1175%2C1187&_embed=
  response:
    body:
      string: '[{"id":96803,"date":"2020-06-29T19:15:13","date_gmt":"2020-06-29T19:15:13","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96803"},"modified":"2020-06-29T19:15:13","modified_gmt":"2020-06-29T19:15:13","slug":"data-centre-automation-for-hpc","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/29\/data-centre-automation-for-hpc\/","title":{"rendered":"Data
        centre automation for HPC"},"content":{"rendered":"\n<h2>Friction points in
        HPC DevOps<\/h2>\n\n\n\n<p>Many High Performance Computing (HPC) setups are
        still handcrafted configurations where tuning changes can take days or weeks.
        This is because the more you tune and optimise something, the more bespoke
        and unique it is, and the more unique something is, the lower the chances
        that things will just work out of the box, and HPC is no exception.<br><\/p>\n\n\n\n<h2>A
        new school of HPC<\/h2>\n\n\n\n<p>Now physical servers are a lot easier to
        set up, provision and configure thanks to tools such as <a href=\"https:\/\/maas.io\/\">MAAS<\/a>.
        For example, connecting servers and selecting which ones will be configured
        for networking and which for data, is as easy as clicking a button on a web
        UI. This may seem innocuous but it means that a server farm can be used for
        one project in the morning and [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&exclude=97114%2C96997%2C96510&_embed=
  response:
    body:
      string: '[{"id":97111,"date":"2020-07-17T10:00:55","date_gmt":"2020-07-17T10:00:55","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97111"},"modified":"2020-07-16T06:59:42","modified_gmt":"2020-07-16T06:59:42","slug":"best-practices-for-an-effective-remote-team-in-the-world-of-cloud-d[...]
